<%= form_for(@user_phenotype, :url => {:controller => :user_phenotypes, :action => :create,:js_modal => @js_modal}, :html => {:class => "form-horizontal", :name => "new_user_phenotype"}) do |f| %>
<%= render 'shared/error_messages', :target => @phenotype %>
<%= f.hidden_field :phenotype_id, :value => @phenotype.id %>
<%if @js_modal != true%>
<div class="alert-message block-message info"> 
<%end%>
<p><b>Want to help?</b> You did not enter your variation at this phenotype yet. By adding your phenotypic information about <em><%=@phenotype.characteristic%></em> to openSNP you could help (amateur-)researchers with their work and find other people with a similar variance. <b>Please make use of the auto-completion as your variation might be already in our database.</b></p>

    <script type="text/javascript">
    // hides the input-box when user has selected a radio-button
    $(document).ready(function() {
            $('input[type=radio]').click(function() { 
                $('#phenotype_field').hide();
                $("label[for=user_phenotype_variation]").hide();
                });
    });
    // Autocomplete for variations in the input-box
    $(function () {
        $("#phenotype_field").autocomplete({
            source: <%=raw(@phenotype.known_phenotypes.to_json)%>
        });
    });

    </script>
	
	<div class="clearfix">
	<div id="enter-order"><%= f.label :variation, "Enter your phenotype now:" %>&nbsp;
	<%= f.text_field :variation, :id => "phenotype_field"%></div>
	</div>
	
    <% @phenotype.known_phenotypes.each do |up| %>
        <div class="row">
            <div class="span4"><%= f.radio_button(:variation, up) %></div>
            <div class="span4"><%= f.label("variation_box", up) %></div>
        </div>
    <% end %>


	<div class="alert-actions"> 
	<%= f.submit "Submit your variation", :class => "primary btn"  %>
	</p></div>
<% end %>
</div>
</div>
</div>