<%= form_for(@user_phenotype, :url => {:controller => :user_phenotypes, :action => :create,:js_modal => @js_modal}, :html => {:class => "form-stacked", :name => "new_user_phenotype"}) do |f| %>
<%= render 'shared/error_messages', :target => @phenotype %>
<%= f.hidden_field :phenotype_id, :value => @phenotype.id %>
<%if @js_modal != true%>
<div class="alert-message block-message info"> 
<%end%>
<p><b>Want to help?</b> You did not enter your variation at this phenotype yet. By adding your phenotypic information about <em><%=@phenotype.characteristic%></em> to openSNP you could help (amateur-)researchers with their work and find other people with a similar variance. <b>Please make use of the auto-completion as your variation might be already in our database.</b></p>

    <script type="text/javascript">
    $(document).ready(function() {
            $('input[type=radio]').click(function() { 
                $('#phenotype_field').hide();
                });
    });
    $(function () {
        $("#phenotype_field").autocomplete({
            source: <%=raw(@phenotype.known_phenotypes.to_json)%>
        });
    });

    </script>

    <% @all_user_phenotypes.each do |up| %>
            <div class="span5 columns">
        <%= radio_button_tag("variation", up) %> <%= label_tag("variation", up.variation) %>
    </div>
    <% end %>

	<%= f.label :variation, "Enter your phenotype now:" %>
	<%= f.text_field :variation, :id => "phenotype_field"%>
	<div class="alert-actions"> 
	<%= f.submit "Submit your variation", :class => "primary btn"  %>
	</p></div>
<% end %>
</div>
