<%= render 'shared/error_messages', :target => @snp %>
<div class="comments__comment-box well">
	<h3>Comment on this phenotype</h3>
	<%= form_for  @snp_comment, :html => {:class => "comments__comment-box-form",:name => "new_comment"} do |f| %>
	<%= f.hidden_field :picture_phenotype_id, :value => @snp.id %>
	<div class="form-group">
		<%= f.label :subject%>
		<%= f.text_field :subject, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :comment_text %>
		<%= f.text_area :comment_text, :size => "20x5", class: "form-control" %>
	</div>
	<%= f.submit "Comment", :class => "btn btn-default"  %>
	<% end %>
</div>
