<% if @answering %>
  <h2>Answering:</h2>
  <div class="well">
    <p><b>Subject: <%= @answering.subject %></b></p>
    <p><%= @answering.body %></p>
  </div>
<%end%>
<h2>Compose Message</h2>
<%= form_for @message do |f| %>
  <%= render 'shared/error_messages', :target => @message %>
  <div class="clearfix">
    <%= f.label :to_id, 'To' %>
    <%= f.select(:to_id, @users.map { |user| [user.name, user.id] }, selected: params[:user_to_send]) %>
  </div>
  <div class="clearfix">
    <%= f.label :subject %>
    <div class="input">
      <%= f.text_field :subject%>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label "body"%>
    <div class="input">
      <%= f.text_area :body, :size => "10x10"  %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Send", :class => "btn btn-primary"%>
  </div>
<% end %>
