<h1>Compose Message</h1>
<%= form_for @message, :html => {:class => "form-stacked"} do |f| %>
	<%= render 'shared/error_messages', :target => @message %>
	<div class="clearfix">
		<% if params[:user_to_send] %> <%= f.label :to_id %><%= User.find_by_id(params[:user_to_send]).name %><%= f.hidden_field :to_id, :value => params[:user_to_send] %>
		<% else %><%= f.label :to_id%> <%= collection_select(:user, :id, @users, :id, :name, :class =>"user") %>
		<% end %>
	</div>
	<div class="clearfix">
	 	<%= f.label :subject %>
		<div class="input">
			<%= f.text_field :subject %>
		</div>
	</div>
	<div class="clearfix">
		<%= f.label "body"%>
		<div class="input">
			<%= f.text_area :body, :cols => 100, :rows => 10 %>
		</div>
	</div>
	<div class="actions">
		<%= f.submit "Send", :class => "primary btn"%>
</div>
<% end %>
