<% if @answering and @allowed %>
    <h2>Answering:</h2>
<div class="well">
    <p><b>Subject: <%= @answering.subject %></b></p>
    <p><%= @answering.body %></p>
</div>
<%end%>
<h2>Compose Message</h2>
<%= form_for @message do |f| %>
	<%= render 'shared/error_messages', :target => @message %>
	<div class="clearfix">
        <% if params[:user_to_send] %> <%= f.label "Select a user" %><%= collection_select(:user, :id, @users, :id, :name, :class =>"user", :selected => params[:user_to_send]) %>
		<% else %><%= f.label :to_id%> <%= collection_select(:user, :id, @users, :id, :name, :class =>"user", :selected => :prompt, :prompt => "Select a user") %>
		<% end %>
	</div>
	<div class="clearfix">
	 	<%= f.label :subject %>
		<div class="input">
			<%= f.text_field :subject%>
		</div>
	</div>
	<div class="clearfix">
		<%= f.label "body"%>
		<div class="input">
            <%= f.text_area :body, :size => "10x10"  %>
		</div>
	</div>
	<div class="actions">
		<%= f.submit "Send", :class => "btn btn-primary"%>
</div>
<% end %>
