<h1>Message</h1>
<h4>From: <%= link_to @from.name, @from %>, received on <%= @message.created_at %></h4>
<h3>Subject: <%=@message.subject %></h3>

<div class="well">
<p><%= @message.body %></p>
</div>
<p><%= link_to "Reply", {:controller => "messages", :action => "new", :user_to_send => @from.id}, :class => "btn primary" %></p>
<p><%= button_to "Delete", message_path(@message.id), :method => :delete, :confirm => "Are you sure?", :class => "danger btn"%></p>


<%= link_to "Back to your homepage", current_user %>
