<div class="general__container">
  <h3 class="general__title">Listing all phenotypes</h3>
  <%if current_user%>
  <%= link_to "Add a new phenotype",{ action: 'new'}, class: "btn btn-default phenotype__add-button" %>
  <%end%>
  <br/>
  <div class="table-responsive">
    <table class="table table-hover" id="no_snp_overview">
      <thead>
        <tr>
          <th>#</th>
          <th><%= sortable "id", "ID" %></th>
          <th><%= sortable "characteristic", "Phenotype" %></th>
          <th><%= sortable "number_of_users", "Number of users" %></th>
          <th><%= sortable "created_at", "Created" %></th>
        </tr>
      </thead>
      <% @phenotypes_paginate.each_with_index do |phenotype, i| %>
      <tr>
        <td class="table-cell vertical-centered"><%= i + 1 %></td>
        <td class="table-cell vertical-centered"><%= phenotype.id %></td>
        <td class="table-cell vertical-centered"><%= link_to(phenotype.characteristic, phenotype) %></td>
        <td class="table-cell vertical-centered"><%= phenotype.number_of_users %></td>
        <td class="table-cell vertical-centered"><%= phenotype.created_at %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="text-center">
    <%= will_paginate @phenotypes_paginate, renderer: BootstrapPagination::Rails%>
  </div>
</div>
