<h1>Listing all Phenotypes</h1>
		<%if current_user%><div class="row"><div class="span10 columns offset6"><h5><%=link_to(image_tag("/images/addphenotype_small.png",:style => "vertical-align:middle" ),:action =>"new")%> <%=link_to "The phenotype of your interest is missing? Add a new one!",:action => "new"%></h5></div></div><%end%>
<table class="zebra-striped" id="no_snp_overview">
<thead>
<tr>
	<th><%= sortable "id", "ID"%></th>
	<th><%= sortable "characteristic","Phenotype"%></th>
	<th><%= sortable "number_of_users","Number of users"%></th>
	<th><%= sortable "created_at", "Created"%>
</tr>
</thead>
<tbody>
<% @phenotypes_paginate.each do |s| %>
	<tr>
        <td><%= Phenotype.all.sort! { |a,b| a.id <=> b.id}.index(s) + 1%></td>
	<td><%= link_to(s.characteristic, s) %></td>
	<td><%=s.number_of_users%></td>
	<td><%=s.created_at%></td>
</tr>
<% end %>
</tbody>
</table>
<div class="pagination">
<%= will_paginate(@phenotypes_paginate) %>
</div>

