<h3>Create a new phenotype</h3>
<%= form_for @phenotype, :html => {:class => "form-stacked"} do |f| %>
<%= render 'shared/error_messages', :target => @phenotype %>
<%phenotype_array = []%>
<%Phenotype.find(:all).each do |p| phenotype_array << p.characteristic end%>
<div class="clearfix">
	<div class="inline-inputs">
		<script type="text/javascript">
		  $(function () {
		    $("#phenotype_characteristic").autocomplete({
		      source: <%=raw(phenotype_array.to_json)%>
		    });
		  });
		</script>
		
		<%= f.label :characteristic %> <%= f.text_field :characteristic %>
		<br/><span class ="help-inline">Hair colour, Blood type, Skin colour etc.</span>
		
		<%= f.label :description %> <%= f.text_area :description, :cols => 100%>
		<br/><span class ="help-inline">Give users some more details:<br/>What are different variations of this phenotype?</br>Why this phenotype is interesting?<br/>Some links to web resources on the topic?</span>
	</div>
</div>
<div class="clearfix">
	<div class="inline-inputs">
<%= fields_for @user_phenotype do |up| %>
	<%= up.label :variation %> <%= up.text_field :variation %>
	<br/><span class="help-inline">Blonde, 00, Caucasian etc.</span>
<% end %>
	</div>
</div>

<%= f.submit %>
<% end %>
