<h1>Phenotype: <%= @phenotype.characteristic %></h1>
<%if UserPhenotype.find_by_user_id_and_phenotype_id(current_user.id,@phenotype.id) == nil%>

<%= render 'user_phenotypes/form' %>
<%end%>

<h6>Known Phenotypes:</h6>
<ul>
<%@phenotype.known_phenotypes.each do |p|%>
<%if p != ""%>
<li><%=p%></li>
<%end%>
<%end%>
</ul>

<% if current_user %>
	<%= link_to "Back to your homepage", current_user %> | <%= link_to "Back to your phenotypes", "/users/" + current_user.id.to_s + "#variations" %>
<% end %>
<div id="tab-container">
	<ul class="tabs">
		<li><a href="#users">Users sharing this phenotype (<%=@phenotype.user_phenotypes.length%>)</a></li>
		<li><a href="#comments">Comments (<%=@phenotype.phenotype_comments.length%>)</a></li>
	</ul>

	<div id="users">
<table class="zebra-striped">
	<tr>
		<th>User</th>
		<th>Variation</th>
	</tr>
<% @phenotype.user_phenotypes.each do |up| %>
	<tr>
		<%if current_user!= nil and up.variation == UserPhenotype.find_by_phenotype_id_and_user_id(up.phenotype_id,current_user.id).variation%>
		<td><b><%= link_to User.find_by_id(up.user_id).name, User.find_by_id(up.user_id)%></b></td>
		<td><b><% if up.variation != "" %><%= up.variation %><% else %>Undescribed.<% end %></b></td>
		<%else%>
		<td><%= link_to User.find_by_id(up.user_id).name, User.find_by_id(up.user_id)%></td>
		<td><% if up.variation != "" %><%= up.variation %><% else %>Undescribed.<% end %></td>
		<%end%>
	</tr>
<% end %>
</table>
</div>
  
<div id="comments">
<%= render 'phenotype_comments/show' %>
<%= render 'phenotype_comments/form' %>
</div>
</div>
