<h1>Phenotype: <%= @phenotype.characteristic %></h1>
<%if UserPhenotype.find_by_user_id_and_phenotype_id(current_user.id,@phenotype.id) == nil%>
<h3><%= link_to("Add this phenotype",:action => "new") %></h3>
<%end%>

<h6>Known Phenotypes:</h6>
<ul>
<%@phenotype.known_phenotypes.each do |p|%>
<li><%=p%></li>
<%end%>
</ul>

<div id="tab-container">
	<ul class="tabs">
		<li><a href="#users">Users sharing this phenotype</a></li>
		<li><a href="#comments">Comments</a></li>
	</ul>

	<div id="users">
<table class="zebra-striped">
	<tr>
		<th>User</th>
		<th>Variation</th>
	</tr>
<% @phenotype.user_phenotypes.each do |up| %>
	<tr>
		<td><%= link_to User.find_by_id(up.user_id).name, User.find_by_id(up.user_id)%></td>
		<td><% if up.variation != "" %><%= up.variation %><% else %>Undescribed.<% end %></td>
	</tr>
<% end %>
</table>
</div>
  
<div id="comments">
<%= render 'phenotype_comments/show' %>
<%= render 'phenotype_comments/form' %>
</div>
</div>
