<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <b>Hi <%=@user.name%>,</b>
    <p>
      I just finished parsing your <%= @vendor %> file. I found a total of
      <%= @stats[:rows_without_comments] %> rows (exclusive comments) in it and was
      able to import <%= @stats[:rows_after_parsing] %> SNPs.
    </p>
    <p>
      If this seems way off, feel free to contact us!
    </p>
    <p>
      Cheers,</br>
      The OpenSNP Parser
    </p>
    --
    <br/>
    openSNP thanks <a href="https://www.sbgenomics.com/">Seven Bridges</a> –
    and its biomedical data analysis platform –
    along with <a href="https://www.patreon.com/openSNP">our Patreons</a> for supporting our
    hosting costs.
    </br>
    <a href="https://www.sbgenomics.com">
      <%= image_tag("SBG_logo.png") %>
    </a>
  </body>
</html>
