<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <b>Hi <%=@user.name%>,</b>
    <p>
      <%=@phenotype_comment.user.name%> just replied to a phenotype comment on the Phenotype <%=@phenotype_comment.phenotype.characteristic%> from you.
      This is the text of the reply:
    </p>
     <p>
    <blockquote>
    --- SNIP ---
    <br/>
    <%=@phenotype_comment.comment_text%>
    <br/>
    --- SNAP ---
    </blockquote>
    </p>
    <p>
      <b>
        PLEASE DO NOT ANSWER THIS MAIL DIRECTLY. <a href="<%= phenotype_url(@phenotype_comment.phenotype) %>">You can read and reply to this comment by clicking this link</a>.
      </b>
    </p>
    <p>
      Cheers,</br>
      your openSNP team
    </p>
      --<br/>
      You receive this email because you enabled the phenotype-notification-settings. To change your notification-settings you can visit <%=edit_user_url(@user)%>#notifications</br></br>
      openSNP thanks <a href="https://www.sbgenomics.com/">Seven Bridges</a> –
      and its biomedical data analysis platform –
      along with <a href="patreon.com/openSNP">our Patreons</a> for supporting our
      hosting costs.</br>
      <a href="https://www.sbgenomics.com">
        <%= image_tag("http://"+ActionMailer::Base.default_url_options[:host]+"/assets/SBG_logo.png") %>
      </a>
  </body>
</html>
