<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <b>Hi <%=@user.name%>,</b>
    <p>
      A request to reset your password has been made.
      If you did not make this request, simply ignore this email.

      If you did make this request just <a href="<%=edit_password_reset_url(@user.perishable_token)%>">click the link</a> or copy/paste the link below to your browser to reset your password:

      <%=edit_password_reset_url(@user.perishable_token)%>

      If the above URL does not work try copying and pasting it into your browser.
      If you continue to have problem please feel free to contact us.

    </p>
    <p>
      If you need help <a href="<%=faq_url()%>">you can read the FAQ</a> or contact us by replying to this mail.
    </p>
    <p>
      Cheers,
      your openSNP-team.
    </p>
    --
    <br/>
    openSNP thanks <a href="https://www.sbgenomics.com/">Seven Bridges</a> –
    and its biomedical data analysis platform –
    along with <a href="https://www.patreon.com/openSNP">our Patreons</a> for supporting our
    hosting costs.
    </br>
    <a href="https://www.sbgenomics.com">
      <%= image_tag("SBG_logo.png") %>
    </a>
  </body>
</html>
