<% if @phenotypes.results == [] %>
	<p>No results for phenotypes.</p>
<% else %>
<% for p in @phenotypes.results %>
	<%= p.inspect %>
<% end %>
<% end %>

<% if @users.results == [] %>
	<p>
	No results for users.
	</p>
<% else %>
<% for u in @users.results %>
	<%= u.inspect %>
<% end %>
<% end %>

<% if @user_phenotypes.results == [] %>
	<p>No results for user_phenotypes.</p>
<% else %>
<% for p in @user_phenotypes.results %>
	<%= p.inspect %>
<% end %>
<% end %>

<% if @snp_comments.results == [] %>
	<p>No results for SNP-comments.</p>
<% else %>
<% for p in @snp_comments.results %>
	<%= p.inspect %>
<% end %>
<% end %>
                         
<% if @phenotype_comments.results == [] %>
	<p>No results for Phenotype-comments.</p>
<% else %>
<% for p in @phenotype_comments.results %>
	<%= p.inspect %>
<% end %>
<% end %>
                         
<% if @mendeley_papers.results == [] %>
	<p>No results for Mendeley-papers.</p>
<% else %>
<% for p in @mendeley_papers.results %>
	<%= p.inspect %>
<% end %>
<% end %>

<% if @plos_papers.results == [] %>
	<p>No results for PLoS-papers.</p>
<% else %>
<% for p in @plos_papers.results %>
	<%= p.inspect %>
<% end %>
<% end %>        

<% if @snpedia_papers.results == [] %>
	<p>No results for SNPedia.</p>
<% else %>
<% for p in @snpedia_papers.results %>
	<%= p.inspect %>
<% end %>
<% end %>        
