<h2>Search results</h2>

<div id="tab-container">
  <ul class="tabs">
	<%if not @users.results == [] %>
	<li><a href="#users">Users (<%=@users.results.length%>)</a></li>
	<%end%>
	
	<%if not @phenotypes.results == []%>
	<li><a href="#phenotypes">Phenotypes (<%=@phenotypes.results.length%>)</a></li>
	<%end%>
	
	<%if not @snps.results == []%>
	<li><a href="#snps">SNPs (<%=@snps.results.length%>)</a></li>
	<%end%>
	
	<% if not (@mendeley_papers.results == [] and @plos_papers.results == [])%>
    <li><a href="#papers">Papers (<%=@plos_papers.results.length + @mendeley_papers.results.length%>)</a></li>
	<%end%>
	
    <%if not (@snp_comments.results == [] and @phenotype_comments.results == [])%>
    <li><a href="#comments">Comments (<%=@snp_comments.results.length + @phenotype_comments.results.length%>)</a></li>
	<%end%>	
  </ul>

<% if not @phenotypes.results == [] %>
<div id="phenotypes">
	<table>
		<thead>
			<tr>
				<th>Phenotype</th>
				<th># of Users</th>
				<th>Known Variation</th>
			</tr>
		</thead>
		<tbody>
<% for p in @phenotypes.results %>
		<tr>
			<td><%= link_to p.characteristic, p %></td>
			<td><%= p.number_of_users%></td>
			<td>
	<ul>
		<% p.known_phenotypes.each do |kp| %>
			<li><%=kp%>: <%=link_to "Download all genotyping-files of users with this variation",{:controller => "phenotypes",:action => "get_genotypes",:id => p.id, :variation => kp} %></li>
		<% end %>
	</ul></td>
	</tr>
<% end %>
</tbody>
</table>
</div>
<% end %>


<% if not @snps.results == [] %>
<div id="snps">
	<h5>Snps</h5>
	<ul>
<% for p in @snps.results %>
	<li><%= link_to p.name, p %></li>
<% end %>
</ul>
</div>
<% end %>

<% if not @users.results == [] %>
<div id="users">
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Genotype-file?</th>
				<th># of Phenotypes</th>
				<th># of Achievements</th>
			</tr>
		</thead>
		<tbody>
<% for u in @users.results %>
			<tr>
				<td><%= image_tag u.avatar.url(:head),:style => "vertical-align:middle"%> <%= link_to u.name, u %></td>
				<%if u.has_sequence%>
				<td>yes</td>
				<%else%>
				<td>no</td>
				<%end%>
				<td><%=u.phenotypes.length%></td>
				<td><%=u.achievements.length%></td>
			</tr>
<% end %>
</tbody>
</table>
</div>
<% end %>

<%if not (@snp_comments.results == [] and @phenotype_comments.results == [])%>
<div id="comments">
<% if not @snp_comments.results == [] %>
	<h5>On SNPs</h5>
	<table>
		<thead>
			<tr>
				<th>SNP</th>
				<th>From</th>
				<th>Subject</th>
				<th>Text</th>
			</tr>
		</thead>
		<tbody>
<% for p in @snp_comments.results %>
	<tr>
		<td><%=link_to(p.snp.name,"/snps/"+p.snp.id.to_s+"#comments")%></td>
		<td><%= image_tag p.user.avatar.url(:head),:style => "vertical-align:middle"%> <%=link_to(p.user.name,p.user)%></td>
		<td><%=p.subject%></td>
		<td><%=p.comment_text%></td>
	</tr>
<% end %>
</tbody>
</table>
<% end %>
                         
<% if not @phenotype_comments.results == [] %>
	<h5>On Phenotypes</h5>
	<table>
		<thead>
			<tr>
				<th>Phenotype</th>
				<th>From</th>
				<th>Subject</th>
				<th>Text</th>
			</tr>
		</thead>
		<tbody>
<% for p in @phenotype_comments.results %>
	<tr>
		<td><%=link_to(p.phenotype.characteristic,"/snps/"+p.phenotype.id.to_s+"#comments")%></td>
		<td><%= image_tag p.user.avatar.url(:head),:style => "vertical-align:middle"%> <%=link_to(p.user.name,p.user)%></td>
		<td><%=p.subject%></td>
		<td><%=p.comment_text%></td>
	</tr>
<% end %>
</tbody>
</table>
<% end %>
</div>
<% end %>
       
<% if not (@mendeley_papers.results == [] and @plos_papers.results == [] and @snpedia_papers.results == [])%>
<div id="papers">                  
<% if not @mendeley_papers.results == [] %>
	<h5>Papers on Mendeley</h5>
<table>
	<thead>
		<tr>
			<th>Author</th>
			<th>Title</th>
			<th>SNP</th>
			<th>Year of Publication</th>
			<th># of Readers</th>
			<th>DOI</th>
		</tr>
	</thead>
	<tbody>
<% for p in @mendeley_papers.results %>
		<tr>
			<td><%= p.first_author%></td>
			<td><%=link_to( p.title, p.mendeley_url)%></td>
			<td><%=link_to(p.snp.name,p.snp)%></td>
			<td><%=p.pub_year%></td>
			<td><%=p.reader%></td>
			<% if p.open_access == true and p.doi != nil%>
			<td><%=link_to(p.doi,"http://dx.doi.org/"+p.doi)%><img src="/images/oa_logo.png"></td>
			<%elsif p.doi != nil%>
			<td><%=link_to(p.doi,"http://dx.doi.org/"+p.doi)%></td>
			<%elsif p.open_access == true%>
			<td><%=p.doi%><img src="/images/oa_logo.png"></td>
			<%else%>
			<td>-</td>
			<%end%>
		</tr>
<% end %>
	</tbody>
</table>
<% end %>

<% if not @plos_papers.results == [] %>
	<h5>Papers at the Public Library of Science</h5>
	<table>
		<thead>
			<tr>
				<th>Author</th>
				<th>Title</th>
				<th>SNP</th>
				<th>Year of Publication</th>
				<th># of Readers</th>
			</tr>
		</thead>
		<tbody>
<% for p in @plos_papers.results %>
			<tr>
				<td><%= p.first_author%></td>
				<td><%= link_to( p.title.html_safe, "http://dx.doi.org/"+p.doi)%></td>
				<td><%= link_to( p.snp.name,p.snp)%>
				<td><%= p.pub_date.to_s[6,4]%></td>
				<td><%= p.reader%></td>
			</tr>
<% end %>
		</tbody>
	</table>
<% end %>        

<% if not @snpedia_papers.results == [] %>
	<h5>Entries in the SNPedia</h5>
	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Summary</th>
			</tr>
		</thead>
		<tbody>
<% for p in @snpedia_papers.results %>
			<tr>
				<td><%=link_to p.snp.name+" "+p.url[-4]+"/"+p.url[-2], p.url%></td>
				<td><%=p.summary%></td>
			</tr>
<% end %>
</tbody>
</table>
<% end %>
</div>
<% end %>        
</div>
