<%=auto_discovery_link_tag(:rss, {:action => "feed"}, {:title => "RSS for #{@phenotype.characteristic}"})%>

<div class="row">
  <div class="span6 columns"><h1>Picture phenotype: <%= @phenotype.characteristic %></h1> </div>
</div>

<% if current_user %>
  <%if UserPicturePhenotype.find_by_user_id_and_picture_phenotype_id(current_user.id,@phenotype.id) == nil%>

    <%= render 'user_picture_phenotypes/form' %>
  <%else%>
    <%= render 'user_picture_phenotypes/edit'%>
  <%end%>
<% end %>
<div class="container">
<%=link_to(image_tag("/images/rss_small.png"),:action =>"feed")%>

  <div id="tab-container">
    <ul class="nav nav-tabs">
      <li><a href="#description">Description</a></li>
      <li><a href="#users">Users sharing this phenotype (<%=@phenotype.user_picture_phenotypes.length%>)</a></li>
      <li><a href="#comments">Comments (<%=@phenotype.picture_phenotype_comments.length%>)</a></li>
    </ul>

    <div id="description">
      <div class="well">
        <%= simple_format(@phenotype.description) %>
      </div>
    </div>
    <div id="users">
      <table class="table table-striped">
        <tr>
          <th>User</th>
          <th>Variation</th>
        </tr>
        <% @phenotype.user_picture_phenotypes.each do |up| %>
          <tr>
            <td><%=image_tag up.user.avatar.url(:head),:style => "vertical-align:middle"%> <%= link_to up.user.name, up.user%></td>
            <td><% if up.variation != "" %><%= link_to image_tag(up.phenotype_picture.url(:thumb), :style => "vertical-align:middle"), up.phenotype_picture.url(:maximum) %><% else %>Undescribed.<% end %></td>
          </tr>
            <% end %>
          </table>
        </div>

        <div id="comments">
          <%= render 'picture_phenotype_comments/show' %>
          <%if current_user%>
            <%= render 'picture_phenotype_comments/form' %>
          <%end%>
        </div>

</div>
</div>
