<div class="leftside">
	<h1>Welcome to <em>openSNP</em></h1>
		<p><%=image_tag "/images/microarray.png",:style => "float:left;margin: 10px"%></p>
		<p><h7><em>openSNP</em> allows customers of direct-to-customer genetic tests to publish their test results, find others with similar genetic variations, learn more about their results, find the latest primary literature on their variations and help scientists to find new associations.</h7></p> <center><a href="/signup" class="btn btn-primary btn-large">Sign Up!</a></center><br/><br/>
		<div id="tab-container"> 
			<ul class="nav nav-tabs"> 
				<li><a href="#dtcustomers">For Genotyping Users</a></li> 
				<li><a href="#scientists">For Scientists</a></li> 
			</ul>
			<div id="dtcustomers">
				<div class ="well">
				<div class="row-fluid">
					<div class="well span3">
						<h4>Upload Your Genotyping File</h4>
						<%=image_tag("/images/fileupload.png")%><br/>
						Upload the genotyping raw-data you got from <em><%=link_to "23andMe","http://www.23andme.com"%></em> or <em><%=link_to "deCODEme","http://www.decodeme.com/"%></em> to the database of <em>openSNP</em> to make it available for everybody. 
					</div>
					<div class="well span3">
					<h4>Share Your Phenotypes & Traits</h4> 
					<%=image_tag("/images/phenotypes.png")%><br/>
					Share as many phenotypes, characteristics and traits with other <em>openSNP</em> users and find others with similar characteristics.<br/>And maybe help scientists to discover new genetic associations.
					</div>
					<div class="well span3">
					<h4>Share your stories on variations & phenotypes</h4>
					<%=image_tag("/images/sendmessage.png")%></br>
					<em>openSNP</em> lets you share your stories on your genetic variations & phenotypes with others. Discover the stories of other users.<br/>Find others to exchange experiences about your variations. 
					</div>
					<div class="well span3">
					<h4>Find literature on genetic variation</h4>
					<%=image_tag("/images/literature.png")%></br>
					<em>openSNP</em> gets the latest open access journal articles on genetic variations via the <em><%=link_to "Public Library of Science","http://www.plos.org/"%></em>. Additionally popular articles are indexed via the social reference manager <em><%=link_to "Mendeley","http://www.mendeley.com/"%></em>. Summaries are provided by <em><%=link_to "SNPedia","http://snpedia.com"%></em>.
					</div>
			</div>
			</div>
			</div>
	<div id="scientists">
		<div class ="well">
			<div class="row-fluid">
				<div class="well span4">
					<h4>Search for phenotypes</h4>
					<%=image_tag("/images/phenotypesearch.png")%><br/>
					Many diseases and traits are suspected to have genetical components. Genome Wide Association Studies are a simple tool find genetic markers. Easily find people with the variation you are interested in via openSNP.<br/><br/>The variation you are looking for is not entered yet? Just add it to <em>openSNP</em> 
					</div>
					<div class="well span4">
					<h4>Easily download datasets</h4>
					<%=image_tag("/images/filedownload.png")%><br/>
					The mass download-function of <em>openSNP</em> allows you to easily download the full genotyping raw-data in the file formats that are provided by <em>23andMe</em> and <em>deCODEme</em>.<br/><br/>As the files can be grouped by their variations for specific phenotypes it is easy to get datasets that are already usable for association studies. 
					</div>
					<div class="well span4">
					<h4>Get notified about new data</h4>
					<%=image_tag("/images/rss.png")%><br/>
					<em>openSNP</em> delivers a RSS-feed for each phenotype. So you can easily get all new datasets that get available for the phenotypes of your interest, without the need to check for new entries by hand.<br/><br/>For all data junkies that need more data: There is also a feed that carries all new datasets. 
					</div>
					</div>
					</div>
	</div>
</div>
