<legend><%=image_tag("/images/fitbit-icon.png")%> Listing all connected <em><%=link_to("Fitbit",{:controller => "fitbit_profiles",:action => "info"},:rel => "tooltip", :title => "Want to learn more about our Fitbit-integration? Click here")%></em> accounts </legend>

<%if current_user%>
    <h4>
        <%=link_to(image_tag("/images/filedownload_small.png",:style => "vertical-align:middle"),{:controller => "genotypes", :action => "get_dump"})%> <%=link_to("Download the dump: Includes all Fitbit data with all other phenotypes & genotyping files",{:controller => "genotypes", :action => "get_dump"}, :title => "Request download")%>
    </h4>
<% end %>
<br/>
<% if not current_user and @filelink != nil%>
    <h4>
        <%= link_to(image_tag("/images/filedownload_small.png", :style => "vertical-align:middle"), {:controller => "genotypes",:action => "dump_download"})%> <%= link_to("Download the dump: Includes all Fitbit data with all other phenotypes & genotyping files",{:controller => "genotypes", :action => "dump_download"}, :title => "Download the dump") %>
    </h4>
    <h4><a href="https://github.com/superbobry/snpy">Python-library to parse the provided files</a>, courtesy of <a href="https://github.com/superbobry/">Sergei Lebedev</a></h4>
    <br/>
<%end%>
<table class="table table-striped" id="all_fitbit">
<tr>
    <th>#</th>
    <th><%= sortable "fitbit_user_id", "Fitbit ID"%></th>
	<th>User</th>
    <th><%= sortable "activities", "Shares Activities"%></th>
    <th><%= sortable "body", "Shares Body Data"%></th>
    <th><%= sortable "sleep", "Shares Sleep Data"%></th>
	<th>View Profile</th>
</tr>
<% @fitbit_paginate.each do |g| %>
	<tr>
    <td><%= FitbitProfile.all.sort! { |a,b| a.id <=> b.id }.index(g) + 1 %></td>
    <td><%= link_to(g.fitbit_user_id, {:controller => "fitbit_profiles", :action => "show", :id => g.id}) %></td>
	<td><%=image_tag g.user.avatar.url(:head),:style => "vertical-align:middle"%><%= link_to(g.user.name, g.user)%></td>
    <td><%if g.activities == true%><i class="icon-ok"></i><%else%><i class="icon-remove"></i><%end%></td>
	<td><%if g.body == true%><i class="icon-ok"></i><%else%><i class="icon-remove"></i><%end%></td>
	<td><%if g.sleep == true%><i class="icon-ok"></i><%else%><i class="icon-remove"></i><%end%></td>
	<td><%= link_to("view", {:controller => "fitbit_profiles", :action => "show", :id => g.id})%></td>
</tr>
<% end %>
</table>

<%= page_navigation_links @fitbit_paginate %>

<script type="text/javascript">
  $(document).ready(function () {
    $("[rel=tooltip]").tooltip({placement:'left'});
  });
</script>

