<div class="general__container">
  <div class="row">
    <div class="col-md-6">
      <h3><%=image_tag("fitbit-icon.png")%> Listing all connected <em><%=link_to("Fitbit",{:controller => "fitbit_profiles",:action => "info"},:rel => "tooltip", :title => "Want to learn more about our Fitbit-integration? Click here")%></em> accounts </h3>
      <h4><a href="https://github.com/superbobry/snpy">Python-library to parse the provided files,</a> courtesy of <a href="https://github.com/superbobry/">Sergei Lebedev</a></h4>
    </div>
    <div class="fitbit__download-container col-md-6 ">
      <%= link_to Zipfulldata.public_path, title: "Request download", class: "btn btn-default center-block fitbit__download-button" do %>
      Download dump
      <% end %>
      <p class="text-center fitbit__text-download">Includes all genotyping files plus a CSV with all phenotypes of those users</p>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover snps__table" id="all_fitbit">
      <thead>
        <tr>
          <th>User</th>
          <th>#</th>
          <th><%= sortable "fitbit_user_id", "Fitbit ID"%></th>
          <th><%= sortable "activities", "Shares Activities"%></th>
          <th><%= sortable "body", "Shares Body Data"%></th>
          <th><%= sortable "sleep", "Shares Sleep Data"%></th>
          <th>View Profile</th>
        </tr>
      </thead>
      <% @fitbit_profiles.each_with_index do |fitbit_profile, i| %>
      <tr>
        <td class="table-cell vertical-centered"><%= link_to(image_tag(fitbit_profile.user.avatar.url(:head), :class => "img-circle", :width => "50px") + " #{fitbit_profile.user.name}", fitbit_profile.user) %></td>
        <td class="table-cell vertical-centered"><%= table_row_sequence_number(@fitbit_profiles, i) %></td>
        <td class="table-cell vertical-centered"><%= link_to(fitbit_profile.fitbit_user_id, {:controller => "fitbit_profiles", :action => "show", :id => fitbit_profile.id}) %></td>
        <td class="table-cell vertical-centered"><%if fitbit_profile.activities == true%><i class="icon-ok"></i><%else%><i class="icon-remove"></i><%end%></td>
        <td class="table-cell vertical-centered"><%if fitbit_profile.body == true%><i class="icon-ok"></i><%else%><i class="icon-remove"></i><%end%></td>
        <td class="table-cell vertical-centered"><%if fitbit_profile.sleep == true%><i class="icon-ok"></i><%else%><i class="icon-remove"></i><%end%></td>
        <td class="table-cell vertical-centered"><%= link_to("View", {:controller => "fitbit_profiles", :action => "show", :id => fitbit_profile.id}, class: "btn btn-default")%></td>
      </tr>
      <% end %>
    </table>
    <div class="text-center">
      <%= will_paginate @fitbit_profiles, renderer: BootstrapPagination::Rails%>
    </div>
  </div>
</div>
