<% # helper thing so we don't have to put up fields into every page %>
<%= nested_form_for(@user, :html => { :class => "form-stacked" } ) do |f| %>
<%= render 'shared/error_messages', :target => @user %>
<div class="well">
<div class="clearfix">
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>
<div class="clearfix">
	<%= f.label :email %>
	<%= f.text_field :email %>
</div>
<div class="clearfix">
	<%= f.label :password %>
	<%= f.password_field :password %>
</div>
<div class="clearfix">
	<%= f.label :password_confirmation, "Confirmation" %>
	<%= f.password_field :password_confirmation %>
</div>               
</div>

<div class="well">
<h2>Phenotypes</h2>
	<%= f.fields_for :user_phenotypes do |p| %>
	 <div class="field">
		 <%= p.label Phenotype.find_by_id(p.object.phenotype_id).characteristic %><%= p.text_field :variation%> <%= p.link_to_remove "Remove"%><br/>
	 </div>
 <% end %>
 <%= link_to "Add a new phenotype", :controller => "phenotypes", :action => "new" %>
 </div>

<div class="well">
<h2>Other details</h2>
<div class="clearfix">
	<p>Description of yourself:<br/><%= f.text_area  :description, :size => "1x10" %></p>
</div>
<p>Please provide at least one homepage (or Twitter, Blog etc.) </p>
<%= f.fields_for :homepages do |h| %>
	<div class="clearfix">
		Description <%= h.text_field :description %>
		URL <%= h.url_field :url, :value => "http://www." %><%= h.link_to_remove "Remove"%>
	</div>
<% end %>
<%= f.link_to_add "Add a page", :homepages %>
</div>

<div class="well">
	<h2>Deleting</h2>
	<% if not @user.genotypes.empty? %>
	<p><%= link_to "Delete your genotype", @user.genotypes, :method => "delete", :confirm => "Are you sure you want to delete your genotype?" %></p>
	<% end %>
	<p><%= link_to "Delete this account", @user, :method => "delete", :confirm => "Are you sure you want to delete your account?" %></p>
</div>

<div class="actions">
	<%= f.submit %>
</div>
<% end %> 
