<%= nested_form_for(@user, url: user_path, remote: true, authenticity_token: true, html: { multipart: true } ) do |f| %>

<%= render 'shared/error_messages', target: @user %>
<div id="post_errors" style="display:none"></div>
<div id="tab-container">
  <ul class="nav nav-tabs">
    <li><a href="#general">General</a></li>
    <li><a href="#phenotypes">Phenotypes</a></li>
    <li><a href="#details">Details</a></li>
    <li><a href="#fitbit">Fitbit</a></li>
	<li><a href="#notifications">Notifications</a></li>
	<li><a href="#deleting">Deleting</a></li>
  </ul>
<div id="general">
	<div class="well">
		<h2>General Information</h2>
		<%= f.label :name, "Your username" %>
		<%= f.text_field :name %>

        <%= f.label :avatar, "Your current avatar" %>
		<%= image_tag @user.avatar.url(:thumb) %>
		<% if @user.avatar_file_name != nil %>
            <div class="checkbox">
            <%= f.check_box(:delete_avatar) %> Delete current avatar?
            </div>
		<% end %>

		<%= f.label :avatar, "Upload new avatar"%>
		<%= f.file_field :avatar %>

	
    <h5><%= link_to "Change eMail/Password", { controller: "users", action: "changepassword", id: @user.id } %></h5>
	            
    <% if current_user.genotypes.length >= 1%><%= link_to "Add another genotyping!", controller: "genotypes", action: "new"%><% end %>
	</div>
</div>

<div id="phenotypes">
	<div class="well">
		<h2>Your Phenotypes</h2>
		<%= f.label :sex, "Chromosomal Sex"%>
		<%= f.select :sex, options_for_select(["XX", "XY", "other", "rather not say"], selected: @user.sex) %>
		<%= f.label :yearofbirth, "Year of Birth"%>
		<%= f.select :yearofbirth, options_for_select(((1900..2015).to_a << "rather not say").reverse, selected: @user.yearofbirth) %>
       <h2>Additional phenotypes</h2>
		<%= f.fields_for :user_phenotypes do |p| %>
            <% @phenotype = Phenotype.find_by_id(p.object.phenotype_id) %>
		<div class="field">
		
		   <script type="text/javascript">
		     $(function () {
		       $("#phenotype_<%=p.object.phenotype_id.to_json%>").autocomplete({
		         source: <%=raw(Phenotype.find_by_id(p.object.phenotype_id).known_phenotypes.to_json)%>
		       });
		     });
		   </script>
		
		 	<%= p.label Phenotype.find_by_id(p.object.phenotype_id).characteristic %><%= p.text_field :variation, id: "phenotype_"+p.object.phenotype_id.to_s%> <%= p.link_to_remove "Remove"%><br/>
	 	</div>
<%end %>

 <%= link_to "Add a new phenotype", controller: "phenotypes", action: "new" %>
 	</div>
</div>

<div id="details">
<div class="well">
<h2>Details</h2>
	<p>Add or edit a description of yourself:<br/><%= f.text_area  :description, size: "1x10" %></p>
<p>Please provide at least one homepage (or Twitter, Blog etc.) </p>
<%= f.fields_for :homepages do |h| %>
		Description <%= h.text_field :description %>
		URL <%= h.url_field :url %><%= h.link_to_remove "Remove"%>
<% end %>
<%= f.link_to_add "Add a page", :homepages %>
</div>
</div>

<div id="notifications">
<div class="well">
<h2>Notifications</h2>
<h5>Set up mail notifications to make sure you don't miss a thing happening at openSNP</h5>
<dl>
    <dt><%= f.label :message_on_newsletter, "From the openSNP-team"%></dt><dd>The openSNP-team may sent me mails on updates, new features, things like this: <%= f.check_box :message_on_newsletter%></dd><br/>
    <dt><%= f.label :message_on_message, "Messages"%></dt><dd>Get a mail on new messages: <%= f.check_box :message_on_message%></dd><br/>
    <dt><%= f.label :message_on_new_phenotype, "New Phenotypes"%></dt><dd>Get a mail as soon as a new phenotype gets available: <%= f.check_box :message_on_new_phenotype%></dd><br/>
    <dt><%= f.label :message_on_phenotype_comment_reply, "Phenotype Comments"%></dt><dd>Get a mail on each phenotype comment that is a reply to one of yours: <%= f.check_box :message_on_phenotype_comment_reply%></dd><br/>
    <dt><%= f.label :message_on_snp_comment_reply, "SNP Comments"%></dt><dd>Get a mail on each SNP comment that is a reply to one of yours: <%= f.check_box :message_on_snp_comment_reply%></dd><br/>
</dl>
</div>
</div>

<div id="deleting">
<div class="well">
	<h2>Deleting</h2>
	<% if not @user.genotypes.empty? %>
        <% @user.genotypes.each do |ug| %>
            <p><%= link_to "Delete genotype #{ug.genotype_file_name}", ug, method: "delete", confirm: "Are you sure you want to delete genotype #{ug.genotype_file_name.to_s}?" %> </p>
        <% end %>
	<% end %>
  <p><%= link_to "Delete this account", @user, method: "delete", data: { confirm: 'Are you sure you want to delete your account?' } %></p>
</div>
</div>
<div id="fitbit">
  <div class="well">
  <h2><%=image_tag("fitbit-icon.png")%> <em>Fitbit</em> Settings</h2>
  <%if @user.fitbit_profile != nil%>
    <p class="lead">You have connected your <em>Fitbit</em> account with <em>openSNP</em></p>
    <p class="lead"><%=link_to("Edit your Fitbit connection" , { controller: "fitbit_profiles", action: "edit" } )%></p>
  <%else%>
    <p class="lead">You haven't connected a <em>Fitbit</em> account with <em>openSNP</em> yet. <%=link_to("Do you want to learn more about how to do this?" , { controller: "fitbit_profiles", action: "info" } )%></p>
  <%end%>
  </div>
</div>

<div class="actions">
	<%= f.submit "Update Information", class: "btn btn-primary", id: "update_user" %>
</div>
<% end %> 
