<% # helper thing so we don't have to put up fields into every page %>
<%= nested_form_for(@user) do |f| %>
<%= render 'shared/error_messages', :target => @user %>
<div class="field">
	<%= f.label :name %><br/>
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :email %><br/>
	<%= f.text_field :email %>
</div>
<div class="field">
	<%= f.label :password %><br/>
	<%= f.password_field :password %>
</div>
<div class="field">
	<%= f.label :password_confirmation, "Confirmation" %><br/>
	<%= f.password_field :password_confirmation %>
</div>               

<h2>Phenotypes</h2>
	<%= f.fields_for :phenotypes do |p| %>
	 <div class="field">
		 Characteristic: <%= p.text_field :characteristic %>
		 Variation: <%= p.text_field :variation%> <%= p.link_to_remove "Remove"%><br/>
	 </div>
 <% end %>
 <%= f.link_to_add "Add a phenotype", :phenotypes %>

<h2>Details</h2>
<div class="field">
	<p>Description of yourself:<br/><%= f.text_area  :description, :size => "30x10" %></p>
</div>
<div class="actions">
	<%= f.submit %>
</div>
<% end %> 
