<% # helper thing so we don't have to put up fields into every page %>
<%= nested_form_for(@user, :html => { :class => "form-stacked" } ) do |f| %>
<%= render 'shared/error_messages', :target => @user %>
<div class="clearfix">
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>
<div class="clearfix">
	<%= f.label :email %>
	<%= f.text_field :email %>
</div>
<div class="clearfix">
	<%= f.label :password %>
	<%= f.password_field :password %>
</div>
<div class="clearfix">
	<%= f.label :password_confirmation, "Confirmation" %>
	<%= f.password_field :password_confirmation %>
</div>               

<h2>Phenotypes</h2>
	<%= f.fields_for :user_phenotypes do |p| %>
	 <div class="field">
		 <%= p.label :variation %><%= p.text_field :variation%> <%= p.link_to_remove "Remove"%><br/>
	 </div>
 <% end %>
 <%= f.link_to_add "Add a phenotype", :user_phenotypes %>

<h2>Details</h2>
<div class="clearfix">
	<p>Description of yourself:<br/><%= f.text_area  :description, :size => "1x10" %></p>
</div>
<p>Please provide at least one homepage (or Twitter, Blog etc.) </p>
<%= f.fields_for :homepages do |h| %>
	<div class="clearfix">
		Description <%= h.text_field :description %>
		URL <%= h.url_field :url, :value => "http://www." %><%= h.link_to_remove "Remove"%>
	</div>
<% end %>
<%= f.link_to_add "Add a page", :homepages %>

<div class="actions">
	<%= f.submit %>
</div>
<% end %> 
