<% # helper thing so we don't have to put up fields into every page %>
<%= nested_form_for(@user, :html => { :class => "form-stacked" } ) do |f| %>
<%= render 'shared/error_messages', :target => @user %>
<div class="clearfix">
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>
<div class="clearfix">
	<%= f.label :email %>
	<%= f.text_field :email %>
</div>
<div class="clearfix">
	<%= f.label :password %>
	<%= f.password_field :password %>
</div>
<div class="clearfix">
	<%= f.label :password_confirmation, "Confirmation" %>
	<%= f.password_field :password_confirmation %>
</div>               

<!--For now, Phenotype-editing is in _edit_phenotypes-->

<h2>Details</h2>
<div class="clearfix">
	<p>Description of yourself:<br/><%= f.text_area  :description, :size => "1x10" %></p>
</div>
<%= f.fields_for :homepages do |h| %>
	<div class="clearfix">
		Description <%= h.text_field :description %>
		URL <%= h.text_field :url %><%= h.link_to_remove "Remove"%>
	</div>
<% end %>
<%= f.link_to_add "Add another homepage", :homepages %>

<div class="actions">
	<%= f.submit %>
</div>
<% end %> 
