<% # helper thing so we don't have to put up fields into every page %>
<%= form_for @user do |f| %>
<%= render 'shared/error_messages', :target => @user %>
<div class="clearfix">
	<%= f.label :name %>
<div class="input">
	<%= f.text_field :name %>
</div>
	<%= f.label :email %>
<div class="input">
	<%= f.text_field :email %>
</div>
	<%= f.label :password %>
<div class="input">
	<%= f.password_field :password %>
</div>
	<%= f.label :password_confirmation, "Confirmation" %>
<div class="input">
	<%= f.password_field :password_confirmation %>
</div>
<%= label_tag(:read, "I understand the warning") %>
<div class="input">
<%= check_box_tag(:read) %>
</div>
<div class="well">
	<%= f.submit %>
</div>
</div>
<% end %> 
