<% # helper thing so we don't have to put up fields into every page %>
<%= form_for @user do |f| %>
<%= render 'shared/error_messages', :target => @user %>
<div class="field">
	<%= f.label :name %><br/>
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :email %><br/>
	<%= f.text_field :email %>
</div>
<div class="field">
	<%= f.label :password %><br/>
	<%= f.password_field :password %>
</div>
<div class="field">
	<%= f.label :password_confirmation, "Confirmation" %><br/>
	<%= f.password_field :password_confirmation %>
</div>               
<%= check_box_tag(:read) %><%= label_tag(:read, "I understand what I am doing here") %>
<div class="actions">
	<%= f.submit %>
</div>
<% end %> 
