<table>
	<tr>
		<th><%= sortable "id", "SNP-ID"%></th>
		<th><%= sortable "name", "Name"%></th>
		<th><%= sortable "position","Position"%></th>
		<th><%= sortable "chromosome","Chromosome"%></th>
		<th>Your Genotype</th>
		<th><%= sortable "ranking", "Ranking"%></th>
	</tr>
	<% @snps.each do |s| %>
		<tr>
			<td><%= s.id%></td>
			<td><%= link_to s.name, s%></td>
			<td><%= s.position %></td>
			<td><%= s.chromosome %></td>
      <% if current_user && current_user.has_sequence && s.user_snps.where(user_id: current_user.id).count > 0 %>
        <td><%= s.user_snps.find_by_user_id(current_user.id).local_genotype %></td>
      <%else%>
        <td>-</td>
      <% end %>
			<td><%= s.ranking %></td>
	</tr>
<% end %>
</table>
<div class="pagination">
<%= will_paginate(@snps) %>
</div>
