<table>
	<tr>
		<th><%= sortable "id", "SNP-ID"%></th>
		<th><%= sortable "name", "Name"%></th>
		<th><%= sortable "position","Position"%></th>
		<th><%= sortable "chromosome","Chromosome"%></th>
		<% if current_user %><th>Your Genotype</th><% end %>
		<th><%= sortable "ranking", "Ranking"%></th>
	</tr>
	<% @snps.each do |s| %>
		<tr>
			<td><%= s.id%></td>
			<td><%= link_to s.name, s%></td>
			<td><%= s.position %></td>
			<td><%= s.chromosome %></td>
			<% if current_user %><td><%=UserSnp.find_by_user_id_and_snp_id(current_user.id,s.id).local_genotype%></td><% end %>
			<td><%= s.ranking %></td>
	</tr>
<% end %>
</table>
<div class="pagination">
<%= will_paginate(@snps) %>
</div>
