<div class="row">
	<div class="span6 columns"><h1><%= @user.name %>'s page</h1></div>
	<div class="span6 columns"><%= link_to("Send "+ @first_name + " a message", :controller => "messages", :action => "new", :user_to_send => @user.id) %></div>
</div>
<% if @user.has_sequence == true %>
	<p><%= @first_name %> has uploaded a SNP-set. Here are the results:</p>
<% else %>
	<p><%= @first_name %> has not uploaded any sequences.</p>
<% end %>

<h3>On <%= @first_name %>:</h3>
<p><% if @user.description %><%= @user.description %><% else %><%=@first_name%> has not entered a description yet.<% end %> </p>
<p><%= @user.homepages.inspect %></p>
<h3><%= @first_name %>'s variations:</h3>
<p><%= render "variations" %></p>

