<div class="row">
	<%if @user.avatar_file_name != nil%>
	<div class="span0 columns">
	<%= image_tag @user.avatar.url(:thumb),:style => "vertical-align:middle" %>
	</div><%end%>
	<div class="span6 columns"><h1>Hello <%= @first_name %>!</h1>
		<% current_user.achievements.each do |a|%>

		<div id="<%=a.short_name%>" class="tooltip">
			Achievement: <%=a.award%>.
		</div>

		<a onmouseover="showWMTT('<%=a.short_name%>')" onmouseout="hideWMTT()" href="/achievements/<%=a.id%>"><%=image_tag("/images/achievements/"+a.short_name+"_32px.png",:style => "vertical-align:middle",:height=>"20",:alt => a.award)%></a>
		<%end%>
		</div>
</div>

<% if current_user.messages.where(:user_has_seen => false) != [] %>
	<p><a href="#messages">You have messages!</a></p>
<% end %>
	<% if @user.description != nil  %>
	<h3>Description of yourself</h3>
	<p><%= @user.description %></p>
	<% end %>

<div id="tab-container">
	<ul class="tabs">
		<%if @unentered_phenotypes != []%>
		<li><a href="#unentered_variations">Variations you did not enter yet (<%=@unentered_phenotypes.length%>)</a></li>
		<%end%>
		<li><a href="#snps">Your SNPs</a></li>
		<li><a href="#variations">Your variations</a></li>
		<li><a href="#messages">Your messages</a></li>
		<li><a href="#comments">Replies to your comments</a></li>
	</ul>


<%if @unentered_phenotypes != []%>
	<div id="unentered_variations">
	<table>
		<thead>
			<tr>
				<th>Name of Phenotype</th>
				<th>Created at</th>
			</tr>
		</thead>
		<tbody>
			<%@unentered_phenotypes.each do |i|%>
			<tr>
				<td><%=link_to i.characteristic, i%></td>
				<td><%=link_to i.created_at,i%></td>
			</tr>
			<%end%>
			</table>
			</div>
<%end%>


<div id="snps">
<% if @user.has_sequence == true %>
	<%= render "snps" %>
<% else %>
	<h2>You haven't uploaded your SNP-set. <%= link_to("Please do so", :controller => "genotypes", :action => "new")%></h2>
<% end %>
</div>

<div id="variations">
	<h3>Variations:</h3> <%= render "variations" %>
</div>

<div id="messages">
<h3>Messages</h3>
<p><%= link_to "Write a new message", :controller => "messages", :action => "new" %></p>
<h4>Received</h4>
<% if @received_messages != [] %>
<table>
	<tr>
	<th>From</th>
	<th>Subject</th>
	<th></th>
	</tr>
<% @received_messages.each do |m| %>
	<tr>
	<td><%=image_tag User.find_by_id(m.from_id).avatar.url(:head),:style => "vertical-align:middle"%><%= link_to(User.find_by_id(m.from_id).name,User.find_by_id(m.from_id)) %></td>
	<td><%= link_to( m.subject, m ) %></td>
	<td><% if m.user_has_seen == false %>New!<% end %></td>
	</tr>
<% end %>
</table>
<% else %>
	There are no messages to display here.
<% end %>
<h3>Sent</h3>
<% if @sent_messages != [] %>
<table>
	<tr>
	<th>To</th>
	<th>Subject</th>
	</tr>
<% @sent_messages.each do |m| %>
	<tr>
	<td><%=image_tag User.find_by_id(m.to_id).avatar.url(:head),:style => "vertical-align:middle"%><%= User.find_by_id(m.to_id).name %></td>
	<td><%= link_to( m.subject, m ) %></td>
	</tr>
<% end %>
</table>
<% else %>
	There are no messages to display here.
<% end %>
</div>
<div id="comments">
<% if @paginated_phenotype_replies != [] %>
<h4>Latest replies on your comments on Phenotypes</h4>

	<table class="zebra-striped" id="phenotype_reply_comments">
		<thead>
		<tr>
		<th>On Phenotype</th>
		<th>Reply from</th>
		<th>Subject</th>
		<th>Text</th>
		<th>Written at</th>
		</tr>
		</thead>
		<tbody>
	<% @paginated_phenotype_replies.each do |pc|%>
		<tr>
			<td><%= link_to Phenotype.find_by_id(pc.phenotype_id).characteristic, "/phenotypes/"+Phenotype.find_by_id(pc.phenotype_id).id.to_s+"#comments"%></td>
			<td><%=image_tag User.find_by_id(pc.user_id).avatar.url(:head)%><%=User.find_by_id(pc.user_id).name%></td>
			<td><%= pc.subject %></td>
			<td><%= pc.comment_text %></td>
			<td><%= pc.created_at%></td>
		</tr>
	<% end %>
	</tbody>
</table>
<%= will_paginate(@paginated_phenotype_replies)%>
<% end %>

<% if @paginated_snp_replies != [] %>
<h4>Latest replies on your comments on SNPs</h4>
	<table class="zebra-striped" id="snp_reply_comments">
		<thead>
		<tr>
			<th>On SNP</th>
			<th>Reply from</th>
			<th>Subject</th>
			<th>Text</th>
			<th>Written at:</th>
		</tr>
		</thead>
		<tbody>
	<% @paginated_snp_replies.each do |snp|%>
		<tr>
			<td><%= link_to Snp.find_by_id(snp.snp_id).name, "/snps/"+Snp.find_by_id(snp.snp_id).id.to_s+"/#comments" %></td>
			<td><%=image_tag User.find_by_id(snp.user_id).avatar.url(:head)%><%= User.find_by_id(snp.user_id).name%></td>
			<td><%= snp.subject %></td>
			<td><%= snp.comment_text %></td>
			<td><%= snp.created_at%></td>
		</tr>
	<% end %>
	</tbody>
</table>
<%= will_paginate(@paginated_snp_replies)%>
<% end %>

</div>
<script type="text/javascript">
<!--
wmtt = null;
document.onmousemove = updateWMTT;
function updateWMTT(e) {
  if (wmtt != null && wmtt.style.display == 'block') {
    x = (e.pageX ? e.pageX : window.event.x);
    y = (e.pageY ? e.pageY : window.event.y);
    wmtt.style.left = x + "px";
	wmtt.style.top  = (y - wmtt.offsetHeight) + "px";
  }
}
function showWMTT(id) {
  wmtt = document.getElementById(id);
  wmtt.style.display = "block";
}
function hideWMTT() {
  wmtt.style.display = "none";
}
-->
</script>
