<div class="row">
	<%if @user.avatar_file_name != nil%>
	<div class="span0 columns">
	<%= image_tag @user.avatar.url(:thumb) %>
	</div><%end%>
	<div class="span6 columns"><h1>Hello <%= @first_name %>!</h1></div>
	<div class="span6 columns offset4"><h3><%= link_to("Edit your details and variations ",  :controller => "users", :action => "edit") %></h3></div>
</div>

<% if current_user.messages.where(:user_has_seen => false) != [] %>
	<p><a href="#messages">You have messages!</a></p>
<% end %>
	<% if @user.description != nil  %>
	<h3>Description of yourself</h3>
	<p><%= @user.description %></p>
	<% end %>

<div id="tab-container">
	<ul class="tabs">
		<%if @unentered_phenotype_ids != []%>
		<li><a href="#unentered_variations">Variations you did not enter yet</a></li>
		<%end%>
		<li><a href="#snps">Your SNPs</a></li>
		<li><a href="#variations">Your variations</a></li>
		<li><a href="#messages">Your messages</a></li>
		<li><a href="#comments">Your comments</a></li>
		<li><a href="#achievements">Your achievements</a></li>
	</ul>


<%if @unentered_phenotype_ids != []%>
	<div id="unentered_variations">
	<table>
		<thead>
			<tr>
				<th>Name of Phenotype</th>
				<th>Created at</th>
			</tr>
		</thead>
		<tbody>
			<%@unentered_phenotype_ids.each do |i|%>
			<tr>
				<td><%=link_to Phenotype.find_by_id(i).characteristic, Phenotype.find_by_id(i)%></td>
				<td><%=link_to Phenotype.find_by_id(i).created_at,Phenotype.find_by_id(i)%></td>
			</tr>
			<%end%>
			</table>
			</div>
<%end%>


<div id="snps">
<% if @user.has_sequence == true %>
	<%= render "snps" %>
<% else %>
	<h2>You haven't uploaded your SNP-set. <%= link_to("Please do so", :controller => "genotypes", :action => "new")%></h2>
<% end %>
</div>

<div id="variations">
	<h3>Variations:</h3> <%= render "variations" %>
</div>

<div id="messages">
<h3>Messages</h3>
<p><%= link_to "Write a new message", :controller => "messages", :action => "new" %></p>
<h4>Received</h4>
<% if @received_messages != [] %>
<table>
	<tr>
	<th>From</th>
	<th>Subject</th>
	<th></th>
	</tr>
<% @received_messages.each do |m| %>
	<tr>
	<td><%= link_to(User.find_by_id(m.from_id).name,User.find_by_id(m.from_id)) %></td>
	<td><%= link_to( m.subject, m ) %></td>
	<td><% if m.user_has_seen == false %>New!<% end %></td>
	</tr>
<% end %>
</table>
/<% else %>
	There are no messages to display here.
<% end %>
<h3>Sent</h3>
<% if @sent_messages != [] %>
<table>
	<tr>
	<th>To</th>
	<th>Subject</th>
	</tr>
<% @sent_messages.each do |m| %>
	<tr>
	<td><%= User.find_by_id(m.to_id).name %></td>
	<td><%= link_to( m.subject, m ) %></td>
	</tr>
<% end %>
</table>
<% else %>
	There are no messages to display here.
<% end %>
</div>
<div id="comments">
<% if @phenotype_comments != [] %>
	<table>
		<tr>
		<td>Phenotype</td>
		<td>Subject</td>
		<td>Text</td>
	<% @phenotype_comments.each do |pc|%>
		<tr>
			<td><%= link_to Phenotype.find_by_id(pc.phenotype_id).characteristic, Phenotype.find_by_id(pc.phenotype_id)%></td>
			<td><%= pc.subject %></td>
			<td><%= pc.comment_text %></td>
		</tr>
	<% end %>
</table>
<% end %>
<%= will_paginate(@phenotype_comments)%>
<% if @snp_comments != [] %>
	<table>
		<tr>
			<td>SNP</td>
			<td>Subject</td>
			<td>Text</td>
		</tr>
	<% @snp_comments.each do |snp|%>
		<tr>
			<td><%= link_to Snp.find_by_id(snp.snp_id).name, "/snps/"+Snp.find_by_id(snp.snp_id).id.to_s+"/#comments" %></td>
			<td><%= snp.subject %></td>
			<td><%= snp.comment_text %></td>
		</tr>
	<% end %>
</table>
<% end %>
<%= will_paginate(@snp_comments)%>
</div>
<div id="achievements">
	<%= current_user.achievements.inspect %>
</div>
