<div class="row">
	<%if @user.avatar_file_name != nil%>
	<div class="span0 columns">
	<%= image_tag @user.avatar.url(:thumb),:style => "vertical-align:middle" %>
	</div><%end%>
	<div class="span6 columns"><h1><%= @user.name %>'s page</h1>
		<% @user.achievements.each do |a|%>

		<div id="<%=a.short_name%>" class="tooltip">
			Achievement: <%=a.award%>.
		</div>

		<a onmouseover="showWMTT('<%=a.short_name%>')" onmouseout="hideWMTT()" href="/achievements/<%=a.id%>"><%=image_tag("/images/achievements/"+a.short_name+"_32px.png",:style => "vertical-align:middle",:height=>"20",:alt => a.award)%></a>
		<%end%>
		
		</div>
	<%if current_user%><div class="span6 columns offset4"><h5><%=link_to(image_tag("/images/sendmessage_small.png",:style => "vertical-align:middle" ), :controller => "messages", :action => "new", :user_to_send => @user.id)%> <%= link_to("Send "+ @first_name + " a message", :controller => "messages", :action => "new", :user_to_send => @user.id) %></h5><%end%>
		</div>
</div>
<% if @user.has_sequence == true %>
	<p><%= @first_name %> has uploaded his genotyping rawdata.</p><p><%=link_to(image_tag("/images/filedownload_small.png",:style => "vertical-align:middle"),@user.genotypes[0].download)%> <%= link_to "Download this set", @user.genotypes[0].download%></p>
<% else %>
	<p><%= @first_name %> has not uploaded any sequences.</p>
<% end %>

<% if @user.description != "" and not @user.homepages.empty?%><h3>On <%= @first_name %>:</h3><%end %>
<p><% if @user.description != "" %><%= @user.description %><% else %><%=@first_name%> has not entered a description yet.<% end %> </p>
<% if @user.homepages != [] %>
	<p>
	<h3>Homepages</h3>
	<% @user.homepages.each do |uh| %>
		<strong><%= uh.description %>:</strong> 
		<%= link_to uh.url, uh.url %><br/>
	<% end %>
<% end %>
</p>
<div id="tab-container">
	<ul class="tabs">
		<% if @user.has_sequence %><li><a href="#snps"><%=@first_name%>'s SNPs</a></li><% end %>
		<li><a href="#variations"><%= @first_name %>'s variations</a></li>
		<li><a href="#achievements"><%= @first_name %>'s achievements</a></li>
	</ul>
	<div id="variations">
		<%= render "variations" %>
	</div>
	<% if @user.has_sequence %>
	<div id="snps">
		<%= render "snps" %>
	</div>
	<% end %>
	<div id="achievements">
		<%= @user.achievements.inspect %>
	</div>

	<script type="text/javascript">
	<!--
	wmtt = null;
	document.onmousemove = updateWMTT;
	function updateWMTT(e) {
	  if (wmtt != null && wmtt.style.display == 'block') {
	    x = (e.pageX ? e.pageX : window.event.x);
	    y = (e.pageY ? e.pageY : window.event.y);
	    wmtt.style.left = x + "px";
		wmtt.style.top  = (y - wmtt.offsetHeight) + "px";
	  }
	}
	function showWMTT(id) {
	  wmtt = document.getElementById(id);
	  wmtt.style.display = "block";
	}
	function hideWMTT() {
	  wmtt.style.display = "none";
	}
	-->
	</script>