<div class="row">
	<%if @user.avatar_file_name != nil%>
	<div class="span0 columns">
	<%= image_tag @user.avatar.url(:thumb) %>
	</div><%end%>
	<div class="span6 columns"><h1><%= @user.name %>'s page</h1></div>
	<div class="span6 columns offset4"><h5><%= link_to("Send "+ @first_name + " a message", :controller => "messages", :action => "new", :user_to_send => @user.id) %></h5>
		</div>
</div>
<% if @user.has_sequence == true %>
	<p><%= @first_name %> has uploaded a SNP-set. <%= link_to "Download this set", @user.genotypes[0].download%></p>
<% else %>
	<p><%= @first_name %> has not uploaded any sequences.</p>
<% end %>

<% if @user.description != "" and not @user.homepages.empty?%><h3>On <%= @first_name %>:</h3><%end %>
<p><% if @user.description != "" %><%= @user.description %><% else %><%=@first_name%> has not entered a description yet.<% end %> </p>
<% if @user.homepages != [] %>
	<p>
	<h3>Homepages</h3>
	<% @user.homepages.each do |uh| %>
		<strong><%= uh.description %>:</strong> 
		<%= link_to uh.url, uh.url %><br/>
	<% end %>
<% end %>
</p>
<div id="tab-container">
	<ul class="tabs">
		<% if @user.has_sequence %><li><a href="#snps"><%=@first_name%>'s SNPs</a></li><% end %>
		<li><a href="#variations"><%= @first_name %>'s variations</a></li>
		<li><a href="#achievements"><%= @first_name %>'s achievements</a></li>
	</ul>
	<div id="variations">
		<%= render "variations" %>
	</div>
	<% if @user.has_sequence %>
	<div id="snps">
		<%= render "snps" %>
	</div>
	<% end %>
	<div id="achievements">
		<%= @user.achievements.inspect %>
	</div>
