<div class="row">
	<div class="span0">
	<%= image_tag @user.avatar.url(:thumb),:style => "vertical-align:middle" %>
	</div>
	<div class="span6"><legend><%= @user.name %>'s page</legend>
	  <%if @user.fitbit_profile != nil%>
     <%=link_to(image_tag("fitbit-icon.png"),{:controller => "fitbit_profiles", :action => "show", :id => @user.fitbit_profile.id},:rel =>"tooltip",:title => "See Fitbit data for this user")%>
		<%end%>
		<% @user.achievements.each do |a|%>
            <a href="/achievements/<%= a.id %>" rel="tooltip" title="Achievement: <%=a.award%>"><%=image_tag("achievements/"+a.short_name+"_32px.png",:height=>"20px",:alt => a.award)%></a>
		<%end%>
    </div>
		<%if current_user%><div align="right" class="span4"><h5><%=link_to(image_tag("sendmessage_small.png",:style => "vertical-align:middle" ), :controller => "messages", :action => "new", :user_to_send => @user.id)%> <%= link_to("Send "+ @first_name + " a message", :controller => "messages", :action => "new", :user_to_send => @user.id) %></h5></div><%end%>
    </div>

<% if @user.genotypes != [] %>
	<p><%= @first_name %> has uploaded genotyping rawdata.</p>
	<ul>
	<%@user.genotypes.each do |g|%>
		<li><%=link_to(image_tag("filedownload_small.png",:style => "vertical-align:middle"),g.genotype.url)%> <%= link_to "Download this set (#{g.filetype})", g.genotype.url%></li>
		<%end%>
	</ul>
<% else %>
	<p><%= @first_name %> has not uploaded any sequences.</p>
<% end %>

<% if @user.description != "" and not @user.homepages.empty?%><h3>On <%= @first_name %>:</h3><%end %>
<div class="well"><h5>Description</h5><p><% if @user.description != nil %><%= simple_format(@user.description) %><% else %>This user has not entered a description yet.<% end %> </p></div>
<% if @user.homepages != [] %>
	<p>
	<h3>Homepages</h3>
	<% @user.homepages.each do |uh| %>
        <% if uh.description != "" and uh.url != "" %>
		<strong><%= uh.description %>:</strong> 
		<%= link_to uh.url, uh.url, :target => "_blank" %><br/>
        <% end %>
	<% end %>
    </p>
<% end %>
<div id="tab-container">
	<ul class="nav nav-tabs">
		<% if 1==2  %><li><a href="#snps"><%=@first_name%>'s SNPs</a></li><% end %>
		<li><a href="#variations"><%= @first_name %>'s variations</a></li>
	</ul>
	<div id="variations">
        <% if @user_phenotypes != []%>
            <%= render "variations" %>
        <% else %>
            <p>This user has not entered any phenotypes yet.</p>
        <% end %>
	</div>
	<% if 1==2 # @user.has_sequence %>
	<div id="snps">
		<%= render "snps" %>
	</div>
	<% end %>
</div>
  <script type="text/javascript">
    $(document).ready(function () {
      $("[rel=tooltip]").tooltip({placement:'bottom'});
    });
  </script>
