<div class="simple-form__container">
  <h3 class="simple-form__title">Change email/password</h3>
  <%= form_for @user, :html => {:class => "well simple-form__form center-block"} do |f| %>
    <%= render 'shared/error_messages', :target => @user %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password" %>
    </div>
    <%= f.submit "Update Information",:class => "btn btn-default btn-lg"%>
  <% end %>
</div>
