<h3>Change your email-address and password</h3>
<div class="row">
 <div class="span12 columns">
<% # helper thing so we don't have to put up fields into every page %>
<div class="well">
<%= form_for @user, :html => {:class => "form-stacked"} do |f| %>
<%= render 'shared/error_messages', :target => @user %>
<div class="clearfix">
	<%= f.label :email %>
<div class="input">
	<%= f.text_field :email %>
</div>
	<%= f.label :password %>
<div class="input">
	<%= f.password_field :password %>
</div>
	<%= f.label :password_confirmation, "Confirmation" %>
<div class="input">
	<%= f.password_field :password_confirmation %>
</div>
</div>
</div>

<div class="actions">
	<%= f.submit "Update Information",:class => "btn btn-primary"%>
</div>
<% end %> 
</div>
</div>
