<div class="row">
 <div class="span8 columns">
<%= form_for(@genotype,:html => {:class => "form-stacked", :multipart => true}) do |f| %>
<%= render 'shared/error_messages', :target => @genotype %>
<div class="well">	
<div class="clearfix">
	<%= f.label :filename,"Your Genotyping-file. Please upload the unzipped text-resultfile only." %>
	<%= f.file_field :filename %>
</div>
<div class="clearfix">
	<%= f.label :filetype %>
	<div class="input">
		<ul class="inputs-list">
			<li>
			<label>
				<%= f.radio_button :filetype,"23andme" %>
				<span>23andme-format</span>
			</label>
			</li>
			<li>
			<label>
				<%= f.radio_button :filetype,"decodeme"%>
				<span>deCODEme-format</span>
			</label>
			</li>
			<li>
			<label>
				<%= f.radio_button :filetype,"ftdna-illumina"%>
				<span>FamilyTreeDNA, Illumina-Format</span>
			</label>
			</li>
		</ul>
	</div>
</div>
<div class="actions">
	<%= f.submit "Upload", :class => "primary btn"  %>
</div>
<% end %>
</div>
</div>
<%=render "static/disclaimer"%>
</div>
