<%= form_for(@genotype,:html => {:multipart => true}) do |f| %>
<%= render 'shared/error_messages', :target => @genotype %>
<div class="field">
	<%= f.label :filename %><br/>
	<%= f.file_field :filename %>
</div>
<div class="field">
	<%= f.label :filetype %><br/>
	<%= f.radio_button :filetype,"23andme" %>23andme-format <br/>
	<%= f.radio_button :filetype, "other" %>other format
<div class="actions">
	<%= f.submit %>
</div>
<% end %>
