<%=link_to(image_tag("/images/rss_small.png"),"/rss")%><h1>Listing all Genotypes</h1>

<%=auto_discovery_link_tag(:rss,"/rss", {:title => "RSS for all genotypes"})%>


<%if current_user%><h5><%=link_to(image_tag("/images/filedownload_small.png",:style => "vertical-align:middle"),{:controller => "genotypes", :action => "get_dump"})%> <%=link_to("Download the dump: Includes all genotyping files plus a CSV with all phenotypes of those users",{:controller => "genotypes", :action => "get_dump"}, :title => "Request download")%></h5>
<% end %>
<% if not current_user and @filelink != nil%>
    <h5><%= link_to(image_tag("/images/filedownload_small.png", :style => "vertical-align:middle"), {:controller => "genotypes",:action => "dump_download"})%> <%= link_to("Download the dump: Includes all genotyping files plus a CSV with all phenotypes of those users",{:controller => "genotypes", :action => "dump_download"}, :title => "Download the dump") %></h5>
<%end%>
<h5><a href="https://gist.github.com/1626642">Python-script to parse the provided files</a></h5>

<table class="zebra-striped" id="all_genotypes">
<thead>
<tr>
	<th><%= sortable "id", "ID"%></th>
	<th>User</th>
    <th><%= sortable "filetype", "Type"%></th>
    <th><%= sortable "created_at", "Created"%></th>
	<th>Download</th>
</tr>
</thead>
<tbody>
<% @genotypes_paginate.each do |g| %>
	<tr>
        <td><%= Genotype.all.sort! { |a,b| a.id <=> b.id }.index(g) + 1 %></td>
	<td><%=image_tag g.user.avatar.url(:head),:style => "vertical-align:middle"%><%= link_to(g.user.name, g.user)%></td>
    <td><%= g.filetype %></td>
	<td><%= g.created_at%></td>
	<td><%= link_to "Right-click and 'Save as..'", '../data/' + g.fs_filename  %></td>
</tr>
<% end %>
</tbody>
</table>
<div class="pagination">
<%= will_paginate(@genotypes_paginate) %>
</div>

