<h1>News</h1>
<div id="tab-container">
<ul class="tabs">
	<li><a href="#general">General Information and Known Bugs</a></li>
	<li><a href="#users">New users</a></li>
	<li><a href="#genotypes">New genotypes</a></li>
	<li><a href="#phenotypes">New phenotypes</a></li>
	<li><a href="#snpcomments">SNP-Comments</a></li>
	<li><a href="#phenotypecomments">Phenotype-Comments</a></li>
</ul>
<div id="general">
<h5>SNP-ids/names</h5>
Hello everyone! We've implemented a minor change, you can now access SNPs over their name directly, together with the ID (like we had it before) - e.g. http://opensnp.org/snps/rs7566605 now leads to the SNP named rs7566605. If you encounter any problems please contact <a href="http://opensnp.org/messages/new?user_to_send=23">Philipp</a> or <a href="http://opensnp.org/messages/new?user_to_send=1">Basti</a>. 
<h5>«5 days after launch»</h5>
It has been some days since a bumpy launch. <a href="http://opensnp.wordpress.com/2011/10/03/5-days-after-launch-%E2%80%93%C2%A0time-for-some-more-information/">We just published a blogpost with some additional information about <em>openSNP</em></a>: Who is behind it? What's with the bugs and the performance? And which features are currently planned? Bonus Content: Request your own feature! 
<h5>Known Bugs</h5>
Wow currently there are no things that do not work as expected. So far: Thanks to everybody who helped us tracking down those nasty bugs. But we're sure there are bugs left. If you encouter one just let us know. You could <a href="http://opensnp.org/messages/new?user_to_send=1">simply write Bastian a message</a>.   
</div>

<div id="genotypes">
<%=auto_discovery_link_tag(:rss,"/rss", {:title => "RSS for all genotypes"})%>
<h2>Genotypes</h2>
<%=link_to(image_tag("/images/rss_small.png"),"/rss")%>
<table class="common-table zebra-striped">
<tr>
	<th>Genotype-ID</th>
	<th>Uploaded by</th>
	<th>Uploaded on</th>
	<th>Description</th>
	<th>Download</th>
</tr>
<% @new_genotypes.each do |ng| %>
	<tr>
	<td><%= ng.id %></td>
	<td><%=image_tag ng.user.avatar.url(:head),:style => "vertical-align:middle"%> <%= link_to(User.find(ng.user_id).name, User.find(ng.user_id)) %></td>
	<td><%= ng.created_at %></td>
	<td><%= link_to "Click here", ng %></td>
	<td><%= link_to "Right-click and 'Save as..'", '../data/' + ng.fs_filename  %></td>
</tr>
<% end %>
</table>
</div>
<div id="users">
<h2>Users</h2>
<table class="common-table zebra-striped">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Joined on</th>
		<th>Link</th>
	</tr>
<% @new_users.each do |nu| %>
	<tr>
		<td><%= nu.id %></td>
		<td><%=image_tag nu.avatar.url(:head),:style => "vertical-align:middle"%> <%= nu.name %></td>
		<td><%= nu.created_at %></td>
		<td><%= link_to "Profile", nu %></td>
	</tr>
<% end %>
</table>
</div>
<div id="phenotypes">
<h2>Phenotypes</h2>
<table class="common-table zebra-striped">
	<tr>
		<th>Name</th>
		<th>Variations</th>
		<th># of Users</th>
	</tr>
<% @new_phenotypes.each do |nu| %>
	<tr>
		<td><%= link_to nu.characteristic, nu %></td>
		<td><ul><%nu.known_phenotypes.each do |kp|%><li><%= kp %></li><%end%></ul></td>
		<td><%= nu.number_of_users %></td>
	</tr>
<% end %>
</table>
</div>

<div id="phenotypecomments">
<h2>Phenotype Comments</h2>
<table class="common-table zebra-striped">
	<tr>
		<th>Phenotype</th>
		<th>Comment By</th>
		<th>Subject</th>
		<th>Date</th>
	</tr>
<%@new_phenotype_comments.each do |pc|%>
	<tr>
		<td><%=link_to pc.phenotype.characteristic, pc.phenotype%></td>
		<td><%if pc.user != nil%><%=link_to pc.user.name, pc.user%><%else%>Deleted User<%end%></td>
		<td><%if pc.subject != ""%><%=pc.subject%><%else%>-<%end%></td>
		<td><%=pc.created_at%></td>
	</tr>
<%end%>
</table>
</div>

<div id="snpcomments">
<h2>SNP Comments</h2>
<table class="common-table zebra-striped">
	<tr>
		<th>SNP</th>
		<th>Comment By</th>
		<th>Subject</th>
		<th>Date</th>
	</tr>
<%@new_snp_comments.each do |pc|%>
	<tr>
		<td><%=link_to pc.snp.name, pc.snp%></td>
		<td><%if pc.user != nil%><%=link_to pc.user.name, pc.user%><%else%>Deleted User<%end%></td>
		<td><%if pc.subject != ""%><%=pc.subject%><%else%>-<%end%></td>
		<td><%=pc.created_at%></td>
	</tr>
<%end%>
</table>
</div>
