<h1>News</h1>
<div id="tab-container">
<ul class="tabs">
	<li><a href="#users">New users</a></li>
	<li><a href="#genotypes">New genotypes</a></li>
	<li><a href="#phenotypes">New phenotypes</a></li>
</ul>

<div id="genotypes">
<h2>Genotypes</h2>
<table class="common-table zebra-striped">
<tr>
	<th>Genotype-ID</th>
	<th>Uploaded by</th>
	<th>Uploaded on</th>
	<th>Description</th>
	<th>Download</th>
</tr>
<% @new_genotypes.each do |ng| %>
	<tr>
	<td><%= ng.id %></td>
	<td><%= link_to(User.find(ng.user_id).name, User.find(ng.user_id)) %></td>
	<td><%= ng.created_at %></td>
	<td><%= link_to "Click here", ng %></td>
	<td><%= link_to "Right-click and 'Save as..'", '../data/' + ng.fs_filename  %></td>
</tr>
<% end %>
</table>
</div>
<div id="users">
<h2>Users</h2>
<table class="common-table zebra-striped">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Joined on</th>
		<th>Link</th>
	</tr>
<% @new_users.each do |nu| %>
	<tr>
		<td><%= nu.id %></td>
		<td><%= nu.name %></td>
		<td><%= nu.created_at %></td>
		<td><%= link_to "Profile", nu %></td>
	</tr>
<% end %>
</table>
</div>
<div id="phenotypes">
<h2>Phenotypes</h2>
<table class="common-table zebra-striped">
	<tr>
		<th>Characteristic</th>
		<th>Variation</th>
		<th>Entered by</th>
	</tr>
<% @new_phenotypes.each do |nu| %>
	<tr>
		<td><%= link_to Phenotype.find_by_id(nu.phenotype_id).characteristic, Phenotype.find_by_id(nu.phenotype_id) %></td>
		<td><%= nu.variation %></td>
		<td><%= link_to User.find_by_id(nu.user_id).name, User.find_by_id(nu.user_id) %></td>
	</tr>
<% end %>
</table>
</div>
