<h1>News</h1>
<div id="tab-container">
<ul class="tabs">
	<li><a href="#users">New users</a></li>
	<li><a href="#genotypes">New genotypes</a></li>
	<li><a href="#phenotypes">New phenotypes</a></li>
</ul>

<div id="genotypes">
<%=auto_discovery_link_tag(:rss,"/rss", {:title => "RSS for all genotypes"})%>
<h2>Genotypes</h2>
<%=link_to(image_tag("/images/rss_small.png"),"/rss")%>
<table class="common-table zebra-striped">
<tr>
	<th>Genotype-ID</th>
	<th>Uploaded by</th>
	<th>Uploaded on</th>
	<th>Description</th>
	<th>Download</th>
</tr>
<% @new_genotypes.each do |ng| %>
	<tr>
	<td><%= ng.id %></td>
	<td><%=image_tag ng.user.avatar.url(:head),:style => "vertical-align:middle"%> <%= link_to(User.find(ng.user_id).name, User.find(ng.user_id)) %></td>
	<td><%= ng.created_at %></td>
	<td><%= link_to "Click here", ng %></td>
	<td><%= link_to "Right-click and 'Save as..'", '../data/' + ng.fs_filename  %></td>
</tr>
<% end %>
</table>
</div>
<div id="users">
<h2>Users</h2>
<table class="common-table zebra-striped">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Joined on</th>
		<th>Link</th>
	</tr>
<% @new_users.each do |nu| %>
	<tr>
		<td><%= nu.id %></td>
		<td><%=image_tag nu.avatar.url(:head),:style => "vertical-align:middle"%> <%= nu.name %></td>
		<td><%= nu.created_at %></td>
		<td><%= link_to "Profile", nu %></td>
	</tr>
<% end %>
</table>
</div>
<div id="phenotypes">
<h2>Phenotypes</h2>
<table class="common-table zebra-striped">
	<tr>
		<th>Name</th>
		<th>Variations</th>
		<th># of Users</th>
	</tr>
<% @new_phenotypes.each do |nu| %>
	<tr>
		<td><%= link_to nu.characteristic, nu %></td>
		<td><ul><%nu.known_phenotypes.each do |kp|%><li><%= kp %></li><%end%></ul></td>
		<td><%= nu.number_of_users %></td>
	</tr>
<% end %>
</table>
</div>
