<h1>Listing all SNPs</h1>
<table class="zebra-striped" id="no_snp_overview">
<thead>
<tr>
	<th><%= sortable "id", "SNP-ID"%></th>
	<th><%= sortable "name","Name"%></th>
	<th><%= sortable "position","Position"%></th>
	<th><%= sortable "chromosome","Chromosome"%></th>
	<%if current_user != nil%>
	<th>Your Genotype</th>
	<%end%>
	<th><%= sortable "ranking","Ranking"%></th>
</tr>
</thead>
<tbody>
<% @snps_paginate.each do |s| %>
	<tr>
	<td><%= s.id %></td>
	<td><%= link_to(s.name, s) %></td>
	<td><%= s.position %></td>
	<td><%= s.chromosome %></td>
	<%if current_user != nil and UserSnp.find_by_user_id_and_snp_id(current_user.id,s.id) != nil%>
	<td><%=UserSnp.find_by_user_id_and_snp_id(current_user.id,s.id).local_genotype%></td>
	<%else%>
	<td>-</td>
	<%end%>
	<td><%= s.ranking %></td>
</tr>
<% end %>
</tbody>
</table>
<div class="pagination">
<%= will_paginate(@snps_paginate) %>
</div>

