<h1>Listing all SNPs</h1>
<table class="zebra-striped" id="no_snp_overview">
<thead>
<tr>
	<th><%= sortable "id", "SNP-ID"%></th>
	<th><%= sortable "name","Name"%></th>
	<th><%= sortable "position","Position"%></th>
	<th><%= sortable "chromosome","Chromosome"%></th>
	<th><%= sortable "genotype_frequency","Genotype-Frequency"%></th>
	<th><%= sortable "allele_frequency","Allele-Frequency"%></th>
	<th><%= sortable "ranking","Ranking"%></th>
</tr>
</thead>
<tbody>
<% @snps_paginate.each do |s| %>
	<tr>
	<td><%= s.id %></td>
	<td><%= link_to(s.name, s) %></td>
	<td><%= s.position %></td>
	<td><%= s.chromosome %></td>
	<td><% s.genotype_frequency.each do |k,v|%><%= k+ " = "+ v.to_s + " " %><%end%></td>
	<td><% s.allele_frequency.each do |k,v| %><%= k + " = " + v.to_s + " "  %><% end %></td>
	<td><%= s.ranking %></td>
</tr>
<% end %>
</tbody>
</table>
<%= will_paginate(@snps_paginate) %>

