<legend>Listing all SNPs</legend>
<h4>
    <%= link_to image_tag("filedownload_small.png",:style => "vert   ical-align:middle"), "/data/annotation.zip"  %> <%= link_to "Download the annotation dump: Includes annotation for all SNPs from all sources", "/data/annotation.zip" %>
</h4>
<table class="table table-striped" id="no_snp_overview">
<tr>
	<th><%= sortable "id", "SNP-ID"%></th>
	<th><%= sortable "name","Name"%></th>
	<th><%= sortable "position","Position"%></th>
	<th><%= sortable "chromosome","Chromosome"%></th>
	<th>Your Genotype</th>
	<th><%= sortable "ranking","Ranking*"%></th>
</tr>
<% @snps_paginate.each do |s| %>
	<tr>
	<td><%= s.id %></td>
	<td><%= link_to(s.name, s) %></td>
	<td><%= s.position %></td>
	<td><%= s.chromosome %></td>
  <% if current_user && current_user.genotypes.present? && s.user_snps.find_by_genotype_id(current_user.genotypes.last.id).present? %>
    <td><%= s.user_snps.find_by_genotype_id(current_user.genotypes.last.id).local_genotype %></td>
	<%else%>
	  <td>-</td>
	<%end%>
	<td><%= s.ranking %></td>
</tr>
<% end %>
</table>
<p>* The Ranking reflects how much information <em>openSNP</em> has mined for this SNP. An entry in <em>SNPedia</em> is worth 5 points. A paper in the <em>PLoS</em> or on <em>Genome.gov</em> or an annotation by the <em>Personal Genome Project</em> are worth 2 points. And a paper on <em>Mendeley</em> 1 point.</p> 
<%= page_navigation_links @snps_paginate %>

