<div class="row">
	<div class="span6 columns"><h2>SNP <%= @snp.name %></h2></div>
	<% if current_user %>
	<div class="span6 columns offset4"><%= link_to "Back to your homepage", current_user %></div>
	<div class="span6 columns offset4"><%= link_to "Back to your SNPs", "/users/"+current_user.id.to_s + "#variations" %></div>
<% end %>
</div>

<div class="row">
	<div class="span5 columns">
		<h6><center>Basic Information</center></h6>
		<table>
			<tr>
				<th> </th>
				<th> </th>
			</tr>
			<tr>
				<td><b>Name</b></td>
				<td><%=@snp.name%></td>
			</tr>
			<tr>
				<td><b>Chromosome</b></td>
				<td><%=@snp.chromosome%></td>
			</tr>
			<tr>
				<td><b>Position</b></td>
				<td><%=@snp.position%></td>
			</tr>
			<tr>
				<td><b>Weight of evidence</b></td>
				<td><%=@snp.ranking%></td>
				</tr>
		</table>
	</div>
	
	<div class="span3 columns">
		<%if current_user != nil and UserSnp.find_by_user_id_and_snp_name(current_user.id,@snp.name) != nil%>
		
		<div id="your_genotype" class="tooltip">
			Your genetic variation at <em><%=@snp.name%></em>.
		</div>
		
			<h6><center><a onmouseover="showWMTT('your_genotype')" onmouseout="hideWMTT()" href="#">Your Genotype</a></center></h6>
			<table>
				<tr>
				<th> </th>
				</tr>
				<tr>
			<td><center><b><%=@user_snp.local_genotype%></b></center></td>
			</tr>
			</table>
		<%end%>
		</div>
		
		<div id="geno_frequency" class="tooltip">
			How the different genetic variation at this position is distributed over all <em>openSNP</em> users.
		</div>
		
	<div class="span4 columns">
		<h6><center><a onmouseover="showWMTT('geno_frequency')" onmouseout="hideWMTT()" href="#">Genotype Frequency</a></center></h6>
		<table>
			<thead>
				<tr>
					<th> </th>
					<th> </th>
				</tr>
			</thead>
			<tbody>
				<%@snp.genotype_frequency.each do |key,value|%>
				<%if current_user != nil and UserSnp.find_by_user_id_and_snp_name(current_user.id,@snp.name) != nil%>
					<%if key == @user_snp.local_genotype%>
					<tr>
						<td><b><%=key%></b></td>
						<td><b><%=(value.to_f/@total_genotypes).to_s[0,4]%></b></td>
					</tr>
					<%else%>
					<tr>
						<td><%=key%></td>
						<td><%=(value.to_f/@total_genotypes).to_s[0,4]%></td>
					</tr>
					<%end%>
				<%else%>
				<tr>
					<td><%=key%></td>
					<td><%=(value.to_f/@total_genotypes).to_s[0,4]%></td>
				</tr>
				<%end%>
				<%end%>
			</tbody>
			</table>
	</div>
	
	<div id="allele_frequency" class="tooltip">
		How the single nucleotides on this position are distributed over all <em>openSNP</em> users.
	</div>
	
	<div class="span4 columns">
		<h6><center><a onmouseover="showWMTT('geno_frequency')" onmouseout="hideWMTT()" href="#">Allele Frequency</a></center></h6>
		<table>
			<thead>
				<tr>
					<th> </th>
					<th> </th>
				</tr>
			</thead>
			<tbody>
				<%@snp.allele_frequency.each do |key,value|%>
				<tr>
					<td><%=key%></td>
					<td><%=(value.to_f/@total_alleles).to_s[0,4]%></td>
				</tr>
				<%end%>
			</tbody>
			</table>
	</div>
	</div>
	<h6>Additional Information</h6>
<div id="tab-container">
  <ul class="tabs">
    <li><a href="#snpedia">SNPedia (<%=@snp.snpedia_paper.length%>)</a></li>
    <li><a href="#plos">PLoS (<%=@snp.plos_paper.length%>)</a></li>
    <li><a href="#mendeley">Mendeley (<%=@snp.mendeley_paper.length%>)</a></li>
    <li><a href="#users">Other users (<%=@users.length%>)</a></li>
    <li><a href="#comments">Comments (<%=@snp.snp_comments.length%>)</a></li>
  </ul>
<div id="plos">
<h3>Publications on this SNP on the Public Library of Science:</h3>
<% if @snp.plos_paper != [] %>
<table class="zebra-striped" id="PaperPlos">
	<thead>
	<tr>
		<th>First Author</th>
		<th>Title</th>
		<th>Year of Publication</th>
		<th># of readers</th>
	</tr>
	</thead>
	<tbody>
	<% @snp.plos_paper.each do |p|%>
		<tr>
			<td><%=p.first_author%></td> 
			<td><%=link_to( p.title, "http://dx.doi.org/"+p.doi)%></td>
			<td><%=p.pub_date.to_s[6,4]%></td>
			<td><%=p.reader%></td>
		</tr>
	<%end%>
	</tbody>
</table>
<% else %>
	There are no PLoS-results yet. Please come back again later.
<% end %>
</div>

<div id="mendeley">
<h3>Publications on this SNP on Mendeley</h3>
<% if @snp.mendeley_paper != [] %>
	<table class="zebra-striped" id="PaperMendeley">
		<thead>
		<tr>
			<th>First Author</th>
			<th>Title</th>
			<th>Pub. Year</th>
			<th># of Readers</th>
			<th>DOI</th>
		</tr>
		</thead>
		<tbody>
	<% @snp.mendeley_paper.each do |p|%>
		<tr>
			<td><%=p.first_author%></td>
			<td><%=link_to( p.title, p.mendeley_url)%></td>
			<td><%=p.pub_year%></td>
			<td><%=p.reader%></td>
			<% if p.open_access == true and p.doi != nil%>
			<td><%=link_to(p.doi,"http://dx.doi.org/"+p.doi)%><img src="/images/oa_logo.png"></td>
			<%elsif p.doi != nil%>
			<td><%=link_to(p.doi,"http://dx.doi.org/"+p.doi)%></td>
			<%elsif p.open_access == true%>
			<td><%=p.doi%><img src="/images/oa_logo.png"></td>
			<%else%>
			<td>-</td>
			<%end%>
		</tr>
		<%end%>
		</tbody>
	</table>
<% else %>
	There are no Mendeley-results yet. Please come back again later.
<% end %>
</div>
<div id="snpedia">
<h3>Links to SNPedia</h3>
<% if @snp.snpedia_paper != [] %>
	<table class="zebra-striped">
		<tr>
			<th>Title</th>
			<th>Summary</th>
		</tr>
		<% @snp.snpedia_paper.each do |p| %>
		<%if current_user != nil and UserSnp.find_by_user_id_and_snp_name(current_user.id,@snp.name) != nil and p.url[-2].to_s+p.url[-4].to_s == @user_snp.local_genotype or current_user != nil and UserSnp.find_by_user_id_and_snp_name(current_user.id,@snp.name) != nil and p.url[-4].to_s+p.url[-2].to_s == @user_snp.local_genotype%>
		<tr>
			<td><b><%= link_to @snp.name+" "+p.url[-4]+"/"+p.url[-2], p.url %></b></td>
			<td><b><%= p.summary.capitalize %></b></td>
		</b></tr>
		<%else%>
		<tr>
			<td><%= link_to @snp.name+" "+p.url[-4]+"/"+p.url[-2], p.url %></td>
			<td><%= p.summary.capitalize %></td>
		</tr>
		<% end%>
		<% end %>
	</table>
<% else %>
	There are no SNPedia-links yet. Please come back later.
<% end %>
</div>
<div id="users">
<h3>Users who share this SNP:</h3>
<% if @users != [] %>
<table>
	<tr>
		<th>User</th>
		<th>Genotype</th>
	</tr>
<% @users.each do |u| %>
	<tr>
	<%if current_user != nil and current_user.has_sequence and u.user_snps.find_by_snp_name(@snp.name).local_genotype == @user_snp.local_genotype%>
		<td><b><%= link_to( u.name, u ) %></b></td>
		<td><b><%= u.user_snps.find_by_snp_name(@snp.name).local_genotype%></b></td>
	<%else%>
		<td><%= link_to( u.name, u ) %></td>
		<td><%= u.user_snps.find_by_snp_name(@snp.name).local_genotype%></td>
	<%end%>
	</tr>
<% end %>
</table>
<% else %>
	No user shares this SNP.
<%end %>
</div>
<div id="comments">
<%= render 'snp_comments/show' %>
<%if current_user%>
<%= render 'snp_comments/form' %>
<%end%>
</div>
</div>
