<div class="row">
	<div class="span3 columns"><h2>SNP <%= @snp.name %></h2></div>
</div>
<div class="row">
	<div class="span3 columns">
		<h6><center>Basic Information</center></h6>
		<table class="table table-striped">
			<tr>
				<td><b>Name</b></td>
				<td><%=@snp.name%></td>
			</tr>
			<tr>
				<td><b>Chromosome</b></td>
				<td><%=@snp.chromosome%></td>
			</tr>
			<tr>
				<td><b>Position</b></td>
				<td><%=@snp.position%></td>
			</tr>
			<tr>
				<td><b>Weight of evidence</b></td>
				<td><%=@snp.ranking%></td>
				</tr>
		</table>
	</div>
	
	<div class="span3 columns">
		<%if current_user != nil and UserSnp.find_by_user_id_and_snp_name(current_user.id,@snp.name) != nil%>
		
		  <center><h6><a href="#" rel="tooltip" title="Your genetic variation at <em><%=@snp.name%></em>.">Your Genotype</a></h6></center>
			<table class="table table-striped">
			  <thead>
				<tr>
				</tr>
				</thead>
				<tr>
			<td><center><b><%=@user_snp.local_genotype%></b></center></td>
			</tr>
			</table>
		<%end%>
		</div>
		
	<div class="span3 columns">
	  <center><h6><a href="#" rel="tooltip" title="How the different genetic variation at this position is distributed over all <em>openSNP</em> users.">Genotype Frequency</a></h6></center>
		<%if @total_genotypes != 0%>
            <center>
            <div id="freq_chart" style="height:200px; width:200px;"></div>
            </center>
			<%else%>
			We don't have enough users yet.
			<%end%>
	</div>
	
	<div class="span3 columns">
	  <center><h6><a href="#" rel="tooltip" title="How the single nucleotides on this position are distributed over all <em>openSNP</em> users.">Allele Frequency</a></h6></center>
		<%if @total_alleles != 0%>
            <div id="allele_chart" style="height:200px; width:200px;"></div>
		<%else%>
		We don't have enough users yet.
		<%end%>
	</div>
	</div>
	<h6>Additional Information</h6>
	
<div id="tab-container">
  <ul class="nav nav-tabs">
    <li><a href="#snpedia">SNPedia (<%=@snp.snpedia_paper.length%>)</a></li>
    <li><a href="#plos">PLoS (<%=@snp.plos_paper.length%>)</a></li>
    <li><a href="#mendeley">Mendeley (<%=@snp.mendeley_paper.length%>)</a></li>
    <li><a href="#users">Other users (<%=@users.length%>)</a></li>
    <li><a href="#comments">Comments (<%=@snp.snp_comments.length%>)</a></li>
  </ul>

<div id="plos">
<h3>Publications on this SNP on the Public Library of Science:</h3>
<% if @snp.plos_paper != [] %>
<table class="table table-striped" id="PaperPlos">
	<thead>
	<tr>
		<th>First Author</th>
		<th>Title</th>
		<th>Year of Publication</th>
		<th># of readers</th>
	</tr>
	</thead>
	<tbody>
	<% @snp.plos_paper.each do |p|%>
		<tr>
			<td><%=p.first_author%></td> 
			<td><%=link_to(p.title.html_safe, "http://dx.doi.org/"+p.doi)%></td>
			<td><%=p.pub_date.to_s[6,4]%></td>
			<td><%=p.reader%></td>
		</tr>
	<%end%>
	</tbody>
</table>
<% else %>
	There are no PLoS-results yet. Please come back again later.
<% end %>
</div>

<div id="mendeley">
<h3>Publications on this SNP on Mendeley</h3>
<% if @snp.mendeley_paper != [] %>
	<table class="table table-striped" id="PaperMendeley">
		<thead>
		<tr>
			<th>First Author</th>
			<th>Title</th>
			<th>Pub. Year</th>
			<th># of Readers</th>
			<th>DOI</th>
		</tr>
		</thead>
		<tbody>
	<% @snp.mendeley_paper.each do |p|%>
		<tr>
			<td><%=p.first_author%></td>
			<td><%=link_to( p.title, p.mendeley_url)%></td>
			<td><%=p.pub_year%></td>
			<td><%=p.reader%></td>
			<% if p.open_access == true and p.doi != nil%>
			<td><%=link_to(p.doi,"http://dx.doi.org/"+p.doi)%><img src="/images/oa_logo.png"></td>
			<%elsif p.doi != nil%>
			<td><%=link_to(p.doi,"http://dx.doi.org/"+p.doi)%></td>
			<%elsif p.open_access == true%>
			<td><%=p.doi%><img src="/images/oa_logo.png"></td>
			<%else%>
			<td>-</td>
			<%end%>
		</tr>
		<%end%>
		</tbody>
	</table>
<% else %>
	There are no Mendeley-results yet. Please come back again later.
<% end %>
</div>
<div id="snpedia">
<h3>Links to SNPedia</h3>
<% if @snp.snpedia_paper != [] %>
	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>Summary</th>
		</tr>
		<% @snp.snpedia_paper.each do |p| %>
		<%if current_user != nil and UserSnp.find_by_user_id_and_snp_name(current_user.id,@snp.name) != nil and p.url[-2].to_s+p.url[-4].to_s == @user_snp.local_genotype or current_user != nil and UserSnp.find_by_user_id_and_snp_name(current_user.id,@snp.name) != nil and p.url[-4].to_s+p.url[-2].to_s == @user_snp.local_genotype%>
		<tr>
			<td><b><%= link_to @snp.name+" "+p.url[-4]+"/"+p.url[-2], p.url %></b></td>
			<td><b><%= p.summary.capitalize %></b></td>
		</b></tr>
		<%else%>
		<tr>
			<td><%= link_to @snp.name+" "+p.url[-4]+"/"+p.url[-2], p.url %></td>
			<td><%= p.summary.capitalize %></td>
		</tr>
		<% end%>
		<% end %>
	</table>
<% else %>
	There are no SNPedia-links yet. Please come back later.
<% end %>
</div>
<div id="users">
<h3>Users who share this SNP:</h3>
<% if @users != [] %>
<table class="table table-striped">
	<tr>
		<th>User</th>
		<th>Genotype</th>
	</tr>
<% @users.each do |u| %>
	<tr>
	<%if current_user != nil and current_user.has_sequence and u.user_snps.find_by_snp_name(@snp.name) != nil %>
		<%if u.user_snps.find_by_snp_name(@snp.name).local_genotype == @local_genotype%>
			<td><b><%= link_to( u.name, u ) %></b></td>
			<td><b><%= u.user_snps.find_by_snp_name(@snp.name).local_genotype%></b></td>
		<%else%>
			<td><%= link_to( u.name, u ) %></td>
			<td><%= u.user_snps.find_by_snp_name(@snp.name).local_genotype%></td>
		<%end%>
	<%else%>
	<td><%= link_to( u.name, u ) %></td>
	<td><%= u.user_snps.find_by_snp_name(@snp.name).local_genotype%></td>
	<%end%>
	</tr>
<% end %>
</table>
<% else %>
	No user shares this SNP.
<%end %>
</div>
<div id="comments">
<%= render 'snp_comments/show' %>
<%if current_user%>
<%= render 'snp_comments/form' %>
<%end%>
</div>
</div>

<h6>Genome Browser</h6>
<%= javascript_include_tag "dalliance-compiled.js" %>

	<script language="javascript">
	  new Browser({
	    chr:          '<%=@snp.chromosome%>',
	    viewStart:    <%=@snp.position.to_i-10000%>,
	    viewEnd:      <%=@snp.position.to_i+10000%>,
	    cookieKey:    '<%=@snp.name%>',
	    pageName:     "<%=@snp.name%>", 

	    sources:     [{name:                 'Genome',      
	                   desc:                 'Human reference genome build NCBI36',
	                   uri:                  'http://www.derkholm.net:8080/das/hg18comp/',        
	                   tier_type:            'sequence',
	                   provides_entrypoints: true},
	                  {name:                 'Genes',     
	                   desc:                 'Gene structures from Ensembl 54',
	                   uri:                  'http://www.derkholm.net:8080/das/hsa_54_36p/',      
	                   collapseSuperGroups:  true,
	                   provides_karyotype:   true,
	                   provides_search:      true}
					<%if current_user%>
					<%if current_user.genotypes != []%>
					,{name:                 'Your SNPs',
	                  desc:                 'SNPs @ openSNP',
	                  uri:                  '<%="http://opensnp.org/das/"+current_user.id.to_s+"/"%>'}
					<%end%>
					<%end%>
	],

	    searchEndpoint: new DASSource('http://www.derkholm.net:8080/das/hsa_54_36p/'),
	    browserLinks: {
	        Ensembl: 'http://ncbi36.ensembl.org/Homo_sapiens/Location/View?r=${chr}:${start}-${end}',
	        UCSC: 'http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg18&position=chr${chr}:${start}-${end}',
	    },

	    forceWidth: 900,
		noPersist: true,
	    disablePoweredBy: true
	  });
	
	</script>
<div id="<%=@snp.name%>"></div>

<script type="text/javascript">
  $(document).ready(function () {

    $("[rel=tooltip]").tooltip({placement:'left'});

    <%if @total_genotypes != 0%>
    <% counter = 0 %>
    var freq_data=[
    <%@snp.genotype_frequency.each do |key,value|%>
        <% counter += 1 %>
        ['<%=key%>',<%=(value.to_f/@total_genotypes).to_s[0,4]%>]<% if counter != @snp.genotype_frequency.length %>,<%end%>
    <%end%>
    ];
    var plot1 = jQuery.jqplot ('freq_chart', [freq_data], 
    {
      seriesColors: ["#B0EDFF","#8EB5E8","#6E7CDB","#5F4DD6","#4823AD"],
      seriesDefaults: {
        renderer: jQuery.jqplot.PieRenderer,
        rendererOptions: {
          showDataLabels: true
        }
      },
      legend: { show:true, location: 'e' }
    }
    );
    <% counter = 0 %>
    var allele_data=[
    <%@snp.allele_frequency.each do |key,value|%>
        <% counter += 1 %>
        ['<%=key%>', <%=(value.to_f/@total_alleles).to_s[0,4]%>]<% if counter != @snp.allele_frequency.length %>,<%end%>
    <%end%>
    ];
    var plot2 = jQuery.jqplot ('allele_chart', [allele_data],
    {
      seriesColors: ["#B0EDFF","#8EB5E8","#6E7CDB","#5F4DD6","#4823AD"],
      seriesDefaults: {
        renderer: jQuery.jqplot.PieRenderer,
        rendererOptions: {
          showDataLabels: true
        }
      },
      legend: { show:true, location: 'e' }
    }
    );
});
<%end%>
</script>
