<h2>SNP <%= @snp.name %></h2>

<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Position</th>
		<th>Chromosome</th>
		<th>Genotype-Frequency</th>
		<th>Allele-Frequency</th>
	</tr>
	<tr>
		<td><%= @snp.id %></td>
		<td><%= @snp.name %></td>
		<td><%= @snp.position %></td>
		<td><%= @snp.chromosome %></td>
		<td><%@snp.genotype_frequency.each do |key,value|%>
			<%=key+" = "+(value.to_f/@total_genotypes).to_s+"\t"%>
			<%end%>
			</td>
		<td><% @snp.allele_frequency.each do |key,value| %>
			<%=key+" = "+(value.to_f/@total_alleles).to_s+"\t"%>
			<%end%></td>
	</tr>
</table>
<p>Associated with the following:<br/>
Insert parsing results
</p>

<p>Users who share this SNP:<br/>
<% @users.each do |u| %>
	<%= link_to( u.name, u ) %><br/>
<% end %></p>
