


<h2>SNP <%= @snp.name %></h2>

<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Position</th>
		<th>Chromosome</th>
		<th>Genotype-Frequency</th>
		<th>Allele-Frequency</th>
		<th>Ranking</th>
	</tr>
	<tr>
		<td><%= @snp.id %></td>
		<td><%= @snp.name %></td>
		<td><%= @snp.position %></td>
		<td><%= @snp.chromosome %></td>
		<td><%@snp.genotype_frequency.each do |key,value|%>
			<%=key+" = "+(value.to_f/@total_genotypes).to_s+"\t"%>
			<%end%>
			</td>
		<td><% @snp.allele_frequency.each do |key,value| %>
			<%=key+" = "+(value.to_f/@total_alleles).to_s+"\t"%>
			<%end%></td>
		<td><%= @snp.ranking %></td>
	</tr>
</table>

<div id="tab-container">
  <ul class="tabs">
    <li><a href="#snpedia">SNPedia</a></li>
    <li><a href="#plos">PLoS</a></li>
    <li><a href="#mendeley">Mendeley</a></li>
    <li><a href="#users">Other users</a></li>
  </ul>
<div id="plos">
<h3>Publications on this SNP on the Public Library of Science:</h3>
<table class="zebra-striped" id="PaperPlos">
	<thead>
	<tr>
		<th>First Author</th>
		<th>Title</th>
		<th>Publication Date</th>
		<th>DOI</th>
	</tr>
	</thead>
	<tbody>
	<% @snp.plos_paper.each do |p|%>
		<tr>
			<td><%=p.first_author%></td> 
			<td><%=link_to( p.title, "http://dx.doi.org/"+p.doi)%></td>
			<td><%=p.pub_date%></td>
			<td><%=p.doi%></td>
		</tr>
	<%end%>
	</tbody>
	</table>
</div>
<div id="mendeley">
<h3>Publications on this SNP on Mendeley</h3>
	<table class="zebra-striped" id="PaperMendeley">
		<thead>
		<tr>
			<th>First Author</th>
			<th>Title</th>
			<th>Publication Year</th>
			<th>DOI</th>
		</tr>
		</thead>
		<tbody>
	<% @snp.mendeley_paper.each do |p|%>
		<tr>
			<td><%=p.first_author%></td>
			<td><%=link_to( p.title, p.mendeley_url)%></td>
			<td><%=p.pub_year%></td>
			<td><%=p.doi%></td>
		</tr>
		<%end%>
		</tbody>
	</table>
</div>
<div id="snpedia">
<h3>Links to SNPedia</h3>
	<table class="zebra-striped">
		<tr>
			<th>Summary</th>
			<th>Link</th>
		</tr>
		<% @snp.snpedia_paper.each do |p| %>
		<tr>
			<td><%= p.summary.capitalize %></td>
			<td><%= link_to p.url, p.url %></td>
		</tr>
	<% end %>
	</table>
</div>
<div id="users">
<h3>Users who share this SNP:</h3>
<% @users.each do |u| %>
	<%= link_to( u.name, u ) %><br/>
<% end %>
</div>
</div>
