<!DOCTYPE html>
<html>
<head>
	<title>Snpr <% if @title %>| <%= @title %><% end %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="header" >
	<%= link_to("Logo", root_path) %> | <%= link_to("FAQ", '/faq') %> | Link to News | <% if current_user %><%= link_to("User's home", current_user)%> | <%= link_to("Sign out", "/signout") %><% else %><%= link_to("Sign in", '/signin') %><% end %>
</div>

<%= yield %>

<div class="footer">
	A project from <%= link_to("Bastian Greshake", "http://www.twitter.com/gedankenstuecke") %> and <%= link_to("Philipp Bayer", "http://www.twitter.com/PhilippBayer") %>
</div>
</body>
</html>
