<!DOCTYPE html>
<html>
<head>
	<title>SNPr <% if @title %>| <%= @title %><% end %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, "nested_form","jquery-1.6.2.min.js","jquery.tablesorter.min.js"%>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="topbar-wrapper" style="z-index: 5;" >
	<div class="topbar">
		<div class="container fixed">
			<h3><%= link_to("SNPr", root_path, :class =>"logo") %></h3>
			<ul>
				<li><%= link_to("FAQ", '/faq') %></li> 
				<li><%= link_to("News", '/news') %></li>
				<li><%= link_to("RSS", '/rss')%></li>
				<li><%= link_to("SNPs", :controller => "snps", :action => "index") %></li>
				<li><%= link_to("All users", '/user_index') %></li>
				<% if current_user %>
					<li><%= link_to("User's home", current_user)%></li>
					<li><%= link_to("Sign out", user_sessions_path, :method => :delete) %></li>
				<% else %>
					<li><%= link_to("Sign in", '/signin') %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<div class="container">
<% if flash[:notice] %><div class="alert-message success"> <p><%= flash[:notice] %></p></div> <% end %>
<% if flash[:warning] %><div class="alert-message error"><p><%= flash[:warning] %></p></div> <% end %>
<%= yield %>
</div>

<!--<div class="footer">
	A project from <%= link_to("Bastian Greshake", "http://www.twitter.com/gedankenstuecke") %> and <%= link_to("Philipp Bayer", "http://www.twitter.com/PhilippBayer") %>-->
</div>
</body>
</html>
